<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-chip-grid #chipGrid
        [(ngModel)]="propertyValue" [name]="key.toString() + uuid" #model="ngModel"
        [required]="metadata.required(entity)"
        [disabled]="isReadOnly"
    >
        <mat-chip-row *ngFor="let value of propertyValue" (removed)="removeStringChipArrayValue(value)">
            {{value}}
            <button type="button" matChipRemove>
                <i class="{{metadata.deleteIcon}}"></i>
            </button>
        </mat-chip-row>
        <input matInput
            [matChipInputFor]="chipGrid"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addStringChipArrayValue($event)"
            [(ngModel)]="chipsInput" [name]="key.toString() + uuid2" #chipsModel="ngModel"
            [minlength]="metadata.minLength ?? null"
            [maxlength]="metadata.maxLength ?? null"
            [pattern]="metadata.regex ?? '[\\s\\S]*'"
        />
        <mat-error *ngIf="chipsModel.errors">{{getValidationErrorMessage(chipsModel)}}</mat-error>
    </mat-chip-grid>
    <mat-error *ngIf="!chipsModel.errors">{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>