<!-- eslint-disable angular/no-call-expression -->
<div class="mat-elevation-z8 elevation-container">
    <div class="array-headline">
        <b>{{metadata.displayName}}</b>
    </div>

    <mat-form-field>
        <mat-label>{{metadata.dropdownLabel}}</mat-label>
        <mat-select #inputModel="ngModel" [name]="name + 'input'" [disabled]="isReadOnly" [(ngModel)]="input" (opened)="selectSearchInput.focus()">
            <mat-form-field class="select-search-input">
                <!-- eslint-disable-next-line angular/no-any -->
                <input #selectSearchInput matInput (keyup)="filterDropdownValues($any($event.target).value)">
                <fa-icon matSuffix [icon]="faSearch"></fa-icon>
            </mat-form-field>
            <mat-option>-</mat-option>
            @if (shouldDisplayCurrentValue) {
                <mat-option [value]="currentDropdownValue?.value">{{currentDropdownValue?.displayName}}</mat-option>
            }
            @for (value of filteredDropdownValues; track $index) {
                <mat-option [value]="value.value">{{value.displayName}}</mat-option>
            }
        </mat-select>
        <mat-error>{{getValidationErrorMessage(inputModel)}}</mat-error>
    </mat-form-field>

    @if (metadata.addAll) {
        <button type="button" style="margin-left: 20px;" mat-raised-button [disabled]="!dropdownValues.length || isReadOnly" (click)="addAll()">
            {{metadata.addAllButtonLabel}}
        </button>
    }

    <div class="buttons">
        <button type="button" mat-raised-button [disabled]="!input" (click)="add()">
            {{metadata.addButtonLabel}}
        </button>
        <button type="button" mat-raised-button [disabled]="!selected.length" (click)="remove()">
            {{metadata.removeButtonLabel}}
        </button>
    </div>

    <custom-table
        [configuration]="tableConfig"
        [data]="propertyValue"
        (selectionChanged)="selected = $any($event)"
    >
    </custom-table>
</div>