<div class="mat-elevation-z8 elevation-container">
    <div class="array-headline">
        <b>{{metadata.displayName}}</b>
    </div>

    <mat-form-field>
        <mat-label>{{metadata.dropdownLabel}}</mat-label>
        <mat-select [(ngModel)]="input" [name]="key.toString() + 'input'" #inputModel="ngModel" [disabled]="isReadOnly">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let value of dropdownValues" [value]="value.value">{{value.displayName}}</mat-option>
        </mat-select>
        <mat-error>{{getValidationErrorMessage(inputModel)}}</mat-error>
    </mat-form-field>

    <button type="button" *ngIf="metadata.addAll" style="margin-left: 20px;" mat-raised-button [disabled]="!dropdownValues.length || isReadOnly" (click)="addAll()">
        {{metadata.addAllButtonLabel}}
    </button>

    <div class="buttons">
        <button type="button" mat-raised-button [disabled]="!input" (click)="add()">
            {{metadata.addButtonLabel}}
        </button>
        <button type="button" mat-raised-button [disabled]="!selection.selected.length" (click)="remove()">
            {{metadata.removeButtonLabel}}
        </button>
    </div>

    <mat-table [dataSource]="referencedEntitiesDataSource">
        <!-- select Column -->
        <ng-container matColumnDef="select" *ngIf="!isReadOnly">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    [disabled]="!referencedEntitiesDataSource.data.length" (change)="$event ? SelectionUtilities.masterToggle(selection, referencedEntitiesDataSource) : null"
                    [checked]="selection.hasValue() && SelectionUtilities.isAllSelected(selection, referencedEntitiesDataSource)"
                    [indeterminate]="selection.hasValue() && !SelectionUtilities.isAllSelected(selection, referencedEntitiesDataSource)">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let entity">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(entity) : null" [checked]="selection.isSelected(entity)"></mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <ng-container *ngFor="let dCol of metadata.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef>
                {{dCol.displayName}}
            </mat-header-cell>
            <mat-cell class="entity" *matCellDef="let entityId">
                {{getDisplayColumnValue(entityId, dCol)}}
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>