<h2 mat-dialog-title>
    {{ data.title }}
    <button mat-raised-button (click)="delete()" color="warn" class="delete-button" tabindex="-1">
        {{ data.deleteButtonLabel ? data.deleteButtonLabel : 'Delete' }}
    </button>
</h2>

<mat-dialog-content>
    <form #form="ngForm" class="row">
        <ngx-material-entity-input
            *ngFor="let key of entityKeys"
            [entity]="data.entity"
            [propertyKey]="key"
            [hideOmitForEdit]="true"
            class="col-lg-{{ getWidth(data.entity, key, 'lg') }} col-md-{{ getWidth(data.entity, key, 'md') }} col-sm-{{ getWidth(data.entity, key, 'sm') }}"
        >
        </ngx-material-entity-input>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="edit()" [disabled]="!EntityUtilities.isEntityValid(data.entity) || !EntityUtilities.dirty(data.entity, entityPriorChanges)">
        {{ data.editButtonLabel ? data.editButtonLabel : 'Save' }}
    </button>
    <button mat-raised-button (click)="cancel()" class="cancel-button">
        {{ data.cancelButtonLabel ? data.cancelButtonLabel : 'Cancel' }}
    </button>
</mat-dialog-actions>
