<mat-slider
    id="slider"
    color="primary"
    (click)="model.control.markAsTouched()"
    [min]="metadata.min ?? null"
    [max]="metadata.max ?? null"
    [step]="metadata.step"
    [discrete]="true"
    [displayWith]="metadata.formatThumbLabelValue"
    [showTickMarks]="metadata.showTickMarks"
    [disabled]="isReadOnly"
>
    <input matSliderThumb
        (valueChange)="updatePropertyValue($event)"
        [disabled]="isReadOnly"
    >
</mat-slider>

<mat-form-field floatLabel="always">
    <mat-label>{{metadata.displayName}}</mat-label>
    <!-- hidden input is needed so that the slider can be used inside a mat-form-field -->
    <input matInput style="opacity: 0%;"
        [(ngModel)]="propertyValue"
        [name]="key.toString() + uuid"
        #model="ngModel"
        [required]="metadata.required(entity)"
        [min]="metadata.min ?? null"
        [max]="metadata.max ?? null"
        (ngModelChange)="emitChange()"
        [disabled]="isReadOnly"
    >
    
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>