<!-- eslint-disable angular/no-call-expression -->
<mat-slider
    id="slider"
    color="primary"
    [min]="metadata.min ?? null"
    [max]="metadata.max ?? null"
    [step]="metadata.step"
    [discrete]="true"
    [displayWith]="metadata.formatThumbLabelValue"
    [showTickMarks]="metadata.showTickMarks"
    [disabled]="isReadOnly"
    (click)="model.control.markAsTouched()"
>
    <input matSliderThumb
        [disabled]="isReadOnly"
        (valueChange)="updatePropertyValue($event)"
    >
</mat-slider>

<mat-form-field floatLabel="always">
    <mat-label>{{metadata.displayName}}</mat-label>
    <!-- hidden input is needed so that the slider can be used inside a mat-form-field -->
    <input #model="ngModel" matInput
        style="opacity: 0%;"
        [name]="name"
        [required]="metadata.required(entity)"
        [min]="metadata.min ?? null"
        [max]="metadata.max ?? null"
        [disabled]="isReadOnly"
        [(ngModel)]="propertyValue"
        (ngModelChange)="emitChange()"
    >
    
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>