<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-slide-toggle
        color="primary"
        (click)="model.control.markAsTouched()"
        [(ngModel)]="propertyValue"
        [name]="key.toString() + uuid"
        [disabled]="isReadOnly"
    >
    </mat-slide-toggle>
    <!-- hidden input is needed so that the toggle can be used inside a mat-form-field -->
    <input matInput hidden
        [(ngModel)]="propertyValue"
        [name]="key.toString() + 'Helper' + uuid"
        #model="ngModel"
        [pattern]="metadata.required(entity) ? 'true' : '[\\s\\S]*'"
        [required]="metadata.required(entity)"
        (ngModelChange)="emitChange()"
    >
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>