<div [ngSwitch]="type" *ngIf="!(hideOmitForCreate && metadata.omitForCreate) && !(hideOmitForEdit && metadata.omitForUpdate)">
    <!-------------------------------------------->
    <!-----------------Strings-------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.STRING">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                matInput
                [(ngModel)]="entity[propertyKey]"
                [name]="propertyKey.toString()"
                #model="ngModel"
                [pattern]="metadataDefaultString.regex ? metadataDefaultString.regex : '[\\s\\S]*'"
                [minlength]="metadataDefaultString.minLength ? metadataDefaultString.minLength : null"
                [maxlength]="metadataDefaultString.maxLength ? metadataDefaultString.maxLength : null"
            />
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.STRING_TEXTBOX">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <textarea
                matInput
                [(ngModel)]="entity[propertyKey]"
                [name]="propertyKey.toString()"
                #model="ngModel"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                [minlength]="metadataTextboxString.minLength ? metadataTextboxString.minLength : null"
                [maxlength]="metadataTextboxString.maxLength ? metadataTextboxString.maxLength : null"
            >
            </textarea>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.STRING_AUTOCOMPLETE">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                matInput
                [(ngModel)]="entity[propertyKey]"
                [name]="propertyKey.toString()"
                #model="ngModel"
                [matAutocomplete]="auto"
                [minlength]="metadataAutocompleteString.minLength ? metadataAutocompleteString.minLength : null"
                [maxlength]="metadataAutocompleteString.maxLength ? metadataAutocompleteString.maxLength : null"
                [pattern]="metadataAutocompleteString.regex ? metadataAutocompleteString.regex : '[\\s\\S]*'"
            />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let value of metadataAutocompleteString.autocompleteValues" [value]="value">
                    {{value}}
                </mat-option>
            </mat-autocomplete>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.STRING_DROPDOWN">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <mat-select [(ngModel)]="entity[propertyKey]" [name]="propertyKey.toString()" #model="ngModel">
                <mat-option *ngFor="let value of metadataDropdownString.dropdownValues" [value]="value.value">{{value.displayName}}</mat-option>
            </mat-select>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <!-------------------------------------------->
    <!-----------------Booleans------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_CHECKBOX">
        <mat-form-field>
            <mat-checkbox [(ngModel)]="entity[propertyKey]" [name]="propertyKey.toString()" #model="ngModel">
                {{metadata.displayName}}
            </mat-checkbox>
            <!-- hidden input is needed so that the checkbox can be used inside a mat-form-field -->
            <textarea matInput hidden></textarea>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_TOGGLE">
        <mat-form-field>
            <mat-slide-toggle [(ngModel)]="entity[propertyKey]" [name]="propertyKey.toString()" #model="ngModel">
                {{metadata.displayName}}
            </mat-slide-toggle>
            <!-- hidden input is needed so that the toggle can be used inside a mat-form-field -->
            <textarea matInput hidden></textarea>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_DROPDOWN">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <mat-select [(ngModel)]="entity[propertyKey]" [name]="propertyKey.toString()" #model="ngModel">
                <mat-option [value]="undefined">-</mat-option>
                <mat-option [value]="true">{{metadataDropdownBoolean.dropdownTrue}}</mat-option>
                <mat-option [value]="false">{{metadataDropdownBoolean.dropdownFalse}}</mat-option>
            </mat-select>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <!-------------------------------------------->
    <!------------------Numbers------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.NUMBER">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                matInput
                type="number"
                [(ngModel)]="entity[propertyKey]"
                [name]="propertyKey.toString()"
                #model="ngModel"
                [min]="metadataDefaultNumber.min ? metadataDefaultNumber.min : null"
                [max]="metadataDefaultNumber.max ? metadataDefaultNumber.max : null"
            />
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="DecoratorTypes.NUMBER_DROPDOWN">
        <mat-form-field>
            <mat-label>{{metadata.displayName}}</mat-label>
            <mat-select [(ngModel)]="entity[propertyKey]" [name]="propertyKey.toString()" #model="ngModel">
                <mat-option *ngFor="let value of metadataDropdownNumber.dropdownValues" [value]="value.value">{{value.displayName}}</mat-option>
            </mat-select>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
    </div>

    <!-------------------------------------------->
    <!-------------------Object------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.OBJECT">
        <b>{{metadataDefaultObject.displayName}}</b>
        <!-- iterates over the object properties -->
        <div class="row" *ngFor="let row of objectPropertyRows">
            <!--
                displays another ngx-material-entity with the:
                object as the entity,
                the current key in the loop received by the keyvalue direction as the propertyKey
                and the getValidationErrorMessage of the current component
            -->
            <ngx-mat-entity-internal-input
                *ngFor="let key of row.keys; let i = index; trackBy: trackByFn"
                [entity]="objectProperty"
                [propertyKey]="key"
                [getValidationErrorMessage]="getValidationErrorMessage"
                [hideOmitForCreate]="hideOmitForCreate"
                [hideOmitForEdit]="hideOmitForEdit"
                class="col-lg-{{getWidth(objectProperty, key, 'lg')}} col-md-{{getWidth(objectProperty, key, 'md')}} col-sm-{{getWidth(objectProperty, key, 'sm')}}"
            >
            </ngx-mat-entity-internal-input>
        </div>
    </div>

    <div *ngSwitchDefault>ERROR: The type {{type}}is not known.</div>
</div>