<h2 mat-dialog-title>{{data.createDialogData.title}}</h2>

<mat-dialog-content>
    <form #form="ngForm" class="row">
        <ngx-mat-entity-input
            *ngFor="let key of entityKeys"
            [entity]="data.entity"
            [propertyKey]="key"
            [hideOmitForCreate]="true"
            class="col-lg-{{getWidth(data.entity, key, 'lg')}} col-md-{{getWidth(data.entity, key, 'md')}} col-sm-{{getWidth(data.entity, key, 'sm')}}"
        >
        </ngx-mat-entity-input>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="create()" [disabled]="!EntityUtilities.isEntityValid(data.entity, 'create')">
        {{data.createDialogData.createButtonLabel}}
    </button>
    <button mat-raised-button (click)="cancel()" class="cancel-button">
        {{data.createDialogData.cancelButtonLabel}}
    </button>
</mat-dialog-actions>
