<div class="mat-dialog-title">
    <div>{{data.createDialogData.title}}</div>
</div>

<form>
    <mat-dialog-content>
        <mat-tab-group *ngIf="entityTabs.length > 1" preserveContent>
            <mat-tab *ngFor="let tab of entityTabs" [label]="tab.tabName">
                <div class="row" *ngFor="let row of tab.rows">
                    <ngx-mat-entity-input
                        *ngFor="let key of row.keys"
                        [entity]="data.entity"
                        [propertyKey]="key"
                        [hideOmitForCreate]="true"
                        class="col-lg-{{EntityUtilities.getWidth(data.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(data.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(data.entity, key, 'sm')}}"
                        (inputChangeEvent)="checkIsEntityValid()"
                    >
                    </ngx-mat-entity-input>
                </div>
            </mat-tab>
        </mat-tab-group>
    
        <div *ngIf="entityTabs.length <= 1">
            <span class="no-entity-tabs" *ngIf="!entityTabs.length">
                ERROR: No Inputs. Did you correctly assign all values in the model constructor?
            </span>
            <div class="row" *ngFor="let row of entityTabs[0]?.rows">
                <ngx-mat-entity-input
                    *ngFor="let key of row.keys"
                    [entity]="data.entity"
                    [propertyKey]="key"
                    [hideOmitForCreate]="true"
                    class="col-lg-{{EntityUtilities.getWidth(data.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(data.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(data.entity, key, 'sm')}}"
                    (inputChangeEvent)="checkIsEntityValid()"
                >
                </ngx-mat-entity-input>
            </div>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button type="submit" (click)="create()" mat-raised-button [disabled]="!isEntityValid">
            {{data.createDialogData.createButtonLabel}}
        </button>
        <button type="button" mat-raised-button (click)="cancel()" class="cancel-button">
            {{data.createDialogData.cancelButtonLabel}}
        </button>
    </mat-dialog-actions>
</form>
