<div class="mat-dialog-title">
    <div>{{data.createData.title}}</div>
</div>

<form>
    <mat-dialog-content>
        <ngx-mat-entity-form [hideOmitForCreate]="true" [entity]="data.entity" (formChange)="checkIsEntityValid()">
        </ngx-mat-entity-form>
    </mat-dialog-content>
    
    <mat-dialog-actions>

        <div class="dialog-button-with-info-icon">
            <button type="submit" mat-raised-button matBadgeColor="warn"
                [disabled]="!isEntityValid"
                [matBadge]="validationErrors.length"
                [matBadgeHidden]="!validationErrors.length"
                (click)="create()"
            >
                {{data.createData.createButtonLabel}}
            </button>
            @if (validationErrors.length) {
                <ngx-mat-entity-tooltip [tooltipContent]="tooltipContent"></ngx-mat-entity-tooltip>
            }
        </div>

        <button type="button" mat-raised-button class="cancel-button" (click)="cancel()">
            {{data.createData.cancelButtonLabel}}
        </button>
    </mat-dialog-actions>
</form>
