<div [ngSwitch]="type" *ngIf="!(hideOmitForCreate && metadata.omitForCreate) && !(hideOmitForEdit && metadata.omitForUpdate)">
    <!-------------------------------------------->
    <!-----------------Strings-------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.STRING">
        <string-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </string-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.STRING_TEXTBOX">
        <string-textbox-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </string-textbox-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.STRING_AUTOCOMPLETE">
        <string-autocomplete-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </string-autocomplete-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.STRING_DROPDOWN">
        <string-dropdown-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </string-dropdown-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.STRING_PASSWORD">
        <string-password-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </string-password-input>
    </div>

    <!-------------------------------------------->
    <!-----------------Booleans------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_CHECKBOX">
        <boolean-checkbox-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </boolean-checkbox-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_TOGGLE">
        <boolean-toggle-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </boolean-toggle-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.BOOLEAN_DROPDOWN">
        <boolean-dropdown-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </boolean-dropdown-input>
    </div>

    <!-------------------------------------------->
    <!------------------Numbers------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.NUMBER">
        <number-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </number-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.NUMBER_DROPDOWN">
        <number-dropdown-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </number-dropdown-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.NUMBER_SLIDER">
        <number-slider-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </number-slider-input>
    </div>

    <!-------------------------------------------->
    <!-------------------Object------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.OBJECT">
        <b>{{metadataDefaultObject.displayName}}</b>
        <!-- iterates over the object properties -->
        <mat-tab-group *ngIf="objectPropertyTabs.length > 1" preserveContent>
            <mat-tab *ngFor="let tab of objectPropertyTabs; let tI = index; trackBy: trackByFn" [label]="tab.tabName">
                <div class="row" *ngFor="let row of tab.rows;">
                    <ngx-mat-entity-input *ngFor="let key of row.keys; let rI = index; trackBy: trackByFn"
                        [entity]="objectProperty"
                        [propertyKey]="key"
                        [getValidationErrorMessage]="internalGetValidationErrorMessage"
                        [hideOmitForCreate]="hideOmitForCreate"
                        [hideOmitForEdit]="hideOmitForEdit"
                        [isReadOnly]="internalIsReadOnly"
                        class="col-lg-{{EntityUtilities.getWidth(objectProperty, key, 'lg')}} col-md-{{EntityUtilities.getWidth(objectProperty, key, 'md')}} col-sm-{{EntityUtilities.getWidth(objectProperty, key, 'sm')}}"
                        (inputChangeEvent)="emitChange()"
                    >
                    </ngx-mat-entity-input>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div *ngIf="objectPropertyTabs.length <= 1">
            <div class="row" *ngFor="let row of objectPropertyTabs[0].rows">
                <ngx-mat-entity-input *ngFor="let key of row.keys; let i = index; trackBy: trackByFn"
                    [entity]="objectProperty"
                    [propertyKey]="key"
                    [getValidationErrorMessage]="internalGetValidationErrorMessage"
                    [hideOmitForCreate]="hideOmitForCreate"
                    [hideOmitForEdit]="hideOmitForEdit"
                    [isReadOnly]="internalIsReadOnly"
                    class="col-lg-{{EntityUtilities.getWidth(objectProperty, key, 'lg')}} col-md-{{EntityUtilities.getWidth(objectProperty, key, 'md')}} col-sm-{{EntityUtilities.getWidth(objectProperty, key, 'sm')}}"
                    (inputChangeEvent)="emitChange()"
                >
                </ngx-mat-entity-input>
            </div>
        </div>
    </div>

    <!-------------------------------------------->
    <!-------------------Array-------------------->
    <!-------------------------------------------->
    <div class="entityArray" *ngSwitchCase="DecoratorTypes.ARRAY">
        <div class="mat-elevation-z8 elevation-container">
            <div class="array-headline">
                <b>{{metadataEntityArray.displayName}}</b>
            </div>
            <div *ngIf="metadataEntityArray.createInline && !internalIsReadOnly">
                <mat-tab-group *ngIf="arrayItemInlineTabs.length > 1" preserveContent>
                    <mat-tab *ngFor="let tab of arrayItemInlineTabs" [label]="tab.tabName">
                        <div class="row" *ngFor="let row of tab.rows">
                            <ngx-mat-entity-input
                                *ngFor="let key of row.keys; let i = index; trackBy: trackByFn"
                                [entity]="arrayItem"
                                [propertyKey]="key"
                                [hideOmitForCreate]="true"
                                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                                class="col-lg-{{EntityUtilities.getWidth(arrayItem, key, 'lg')}} col-md-{{EntityUtilities.getWidth(arrayItem, key, 'md')}} col-sm-{{EntityUtilities.getWidth(arrayItem, key, 'sm')}}"
                                (inputChangeEvent)="checkIsArrayItemValid()"
                            >
                            </ngx-mat-entity-input>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <div *ngIf="arrayItemInlineTabs.length <= 1">
                    <div class="row" *ngFor="let row of arrayItemInlineTabs[0].rows">
                        <ngx-mat-entity-input
                            *ngFor="let key of row.keys; let i = index; trackBy: trackByFn"
                            [entity]="arrayItem"
                            [propertyKey]="key"
                            [hideOmitForCreate]="true"
                            [getValidationErrorMessage]="internalGetValidationErrorMessage"
                            class="col-lg-{{EntityUtilities.getWidth(arrayItem, key, 'lg')}} col-md-{{EntityUtilities.getWidth(arrayItem, key, 'md')}} col-sm-{{EntityUtilities.getWidth(arrayItem, key, 'sm')}}"
                            (inputChangeEvent)="checkIsArrayItemValid()"
                        >
                        </ngx-mat-entity-input>
                    </div>
                </div>
            </div>

            <div class="buttons" *ngIf="!internalIsReadOnly">
                <button type="button" mat-raised-button
                    [disabled]="metadataEntityArray.createInline && !isArrayItemValid"
                    (click)="addEntity()">
                    {{metadataEntityArray.addButtonLabel}}
                </button>
                <button type="button" mat-raised-button
                    [disabled]="!selection.selected.length"
                    (click)="remove()">
                    {{metadataEntityArray.removeButtonLabel}}
                </button>
            </div>
        
            <mat-table [dataSource]="dataSource">
                <!-- select Column -->
                <ng-container matColumnDef="select" *ngIf="!internalIsReadOnly">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            [disabled]="!dataSource.data.length" (change)="$event ? SelectionUtilities.masterToggle(selection, dataSource) : null"
                            [checked]="selection.hasValue() && SelectionUtilities.isAllSelected(selection, dataSource)"
                            [indeterminate]="selection.hasValue() && !SelectionUtilities.isAllSelected(selection, dataSource)">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let module">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(module) : null" [checked]="selection.isSelected(module)"></mat-checkbox>
                    </mat-cell>
                </ng-container>
            
                <ng-container *ngFor="let dCol of metadataEntityArray.displayColumns" [matColumnDef]="dCol.displayName">
                    <mat-header-cell *matHeaderCellDef>
                        {{dCol.displayName}}
                    </mat-header-cell>
                    <mat-cell class="entity" *matCellDef="let entity">
                        {{dCol.value(entity)}}
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        
            <div class="array-error" *ngIf="metadataEntityArray.required && !dataSource.data.length">
                {{metadataEntityArray.missingErrorMessage}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase="DecoratorTypes.ARRAY_DATE">
        <array-date-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </array-date-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.ARRAY_DATE_TIME">
        <array-date-time-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </array-date-time-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.ARRAY_DATE_RANGE">
        <array-date-range-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </array-date-range-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.ARRAY_STRING_CHIPS">
        <array-string-chips-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </array-string-chips-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.ARRAY_STRING_AUTOCOMPLETE_CHIPS">
        <array-string-autocomplete-chips
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </array-string-autocomplete-chips>
    </div>

    <!-------------------------------------------->
    <!-------------------Dates-------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.DATE">
        <date-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </date-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.DATE_RANGE">
        <date-range-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </date-range-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.DATE_TIME">
        <date-time-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </date-time-input>
    </div>

    <!-------------------------------------------->
    <!-------------------Files-------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.FILE_DEFAULT">
        <file-default-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </file-default-input>
    </div>
    <div *ngSwitchCase="DecoratorTypes.FILE_IMAGE">
        <file-image-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </file-image-input>
    </div>

    <!-------------------------------------------->
    <!-------------- references many ------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.REFERENCES_MANY">
        <references-many-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </references-many-input>
    </div>

    <!-------------------------------------------->
    <!-------------------Custom------------------->
    <!-------------------------------------------->
    <div *ngSwitchCase="DecoratorTypes.CUSTOM">
        <custom-input
            (inputChangeEvent)="emitChange()"
            [entity]="internalEntity"
            [key]="internalPropertyKey"
            [getValidationErrorMessage]="internalGetValidationErrorMessage"
            [isReadOnly]="internalIsReadOnly"
        >
        </custom-input>
    </div>

    <div *ngSwitchDefault>ERROR: The type {{type}} is not known.</div>
</div>

<!--------------------------------------------------------->
<!--------------------Add Array Item Dialog---------------->
<!--------------------------------------------------------->
<ng-template #addArrayItemDialog>
    <h2 mat-dialog-title>{{dialogData.createDialogData.title}}</h2>

    <form class="row">
        <mat-dialog-content>
            <mat-tab-group *ngIf="arrayItemDialogTabs.length > 1" preserveContent>
                <mat-tab *ngFor="let tab of arrayItemDialogTabs" [label]="tab.tabName">
                    <div class="row" *ngFor="let row of tab.rows">
                        <ngx-mat-entity-input
                            *ngFor="let key of row.keys"
                            [entity]="dialogData.entity"
                            [propertyKey]="key"
                            [hideOmitForCreate]="true"
                            [getValidationErrorMessage]="dialogData.getValidationErrorMessage"
                            class="col-lg-{{EntityUtilities.getWidth(dialogData.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(dialogData.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(dialogData.entity, key, 'sm')}}"
                            (inputChangeEvent)="checkIsDialogArrayItemValid()"
                        >
                        </ngx-mat-entity-input>
                    </div>
                </mat-tab>
            </mat-tab-group>
    
            <div *ngIf="arrayItemDialogTabs.length <= 1">
                <div class="row" *ngFor="let row of arrayItemDialogTabs[0].rows">
                    <ngx-mat-entity-input
                        *ngFor="let key of row.keys"
                        [entity]="dialogData.entity"
                        [propertyKey]="key"
                        [hideOmitForCreate]="true"
                        [getValidationErrorMessage]="dialogData.getValidationErrorMessage"
                        class="col-lg-{{EntityUtilities.getWidth(dialogData.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(dialogData.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(dialogData.entity, key, 'sm')}}"
                        (inputChangeEvent)="checkIsDialogArrayItemValid()"
                    >
                    </ngx-mat-entity-input>
                </div>
            </div>
        </mat-dialog-content>
    
        <mat-dialog-actions>
            <button type="submit" mat-raised-button (click)="addArrayItem()" [class.mat-button-disabled]="!isDialogArrayItemValid">
                {{dialogData.createDialogData.createButtonLabel}}
            </button>
            <button type="button" mat-raised-button (click)="cancelAddArrayItem()" class="cancel-button">
                {{dialogData.createDialogData.cancelButtonLabel}}
            </button>
        </mat-dialog-actions>
    </form>

</ng-template>