::ng-deep {
    mat-tab-body {
        padding-top: 10px;

        .mat-mdc-tab-body-content {
            overflow: initial;
        }

        padding-left: 12px;
        padding-right: 12px;
    }

    .mat-mdc-tab-body-wrapper {
        margin-left: -12px;
        margin-right: -12px;
    }

    .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        padding-right: 16px;
    }

    .select-search-input {
        width: 100%;
        margin-top: -8px;
        margin-bottom: 8px;

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }

    .mat-mdc-form-field.mat-form-field-disabled {
        label {
            color: rgba(0, 0, 0, 0.6);
        }

        input,
        textarea,
        .mat-mdc-select-disabled,
        .mat-mdc-select-value {
            color: black !important;
        }

        .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
            border-color: #707070;
        }

        .mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background,
        .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background,
        .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"][disabled]~.mdc-checkbox__background {
            background-color: black;
        }

        .mat-mdc-chip.mat-mdc-standard-chip.mat-mdc-chip-disabled {
            opacity: 1;

            button {
                opacity: 0.2;
            }
        }

        .mdc-switch.mdc-switch--selected:disabled,
        .mdc-switch.mdc-switch--unselected:disabled {
            .mdc-switch__icons {
                opacity: 1;
            }

            .mdc-switch__handle::after {
                opacity: 1;
                background: black;
            }

            .mdc-switch__track {
                opacity: 0.3;
            }
        }

        .mat-date-range-input-inner:disabled {
            color: black;
        }
    }

    #slider.mat-mdc-slider.mdc-slider--disabled {
        opacity: 1;

        .mdc-slider__input {
            cursor: default;
        }

        mat-slider-visual-thumb {

            .mat-mdc-slider,
            .mdc-slider__thumb:hover,
            .mdc-slider__thumb-knob {
                background-color: black;
                border-color: black;
            }
        }
    }

    .mat-mdc-form-field {
        .mat-mdc-slide-toggle {
            opacity: 1;
        }
    }

    .badge-changes {
        .mat-badge-content {
            background-color: orange;
            color: white;
        }
    }
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-paginator {
    padding-top: 10px;
    padding-bottom: 10px;
}

.actions-container {
    display: flex;
    gap: 10px;
}

.object-dropdown {
    width: 100%;
}

.table-with-error-slot {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-column-select {
    flex: 0 0 48px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
}

.enabled:hover {
    cursor: pointer;
}

.table-error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
    border: 1px solid #E0E0E0;
    background-color: #F8D3D7;
    color: #721C24;
    height: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.entityArray {
    .elevation-container {
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding-bottom: 0px;
    }

    .array-headline {
        padding-bottom: 10px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        flex-wrap: wrap;
        gap: 10px;

        button {
            flex-grow: 1;
        }
    }
}

.hasMany {
    button {
        width: 100%;
        height: 56px;
        line-height: 24px;
        font-size: 16px;
    }

    .title {
        text-align: center;
    }

    .elevation-container {
        margin-bottom: 15px;
    }
}