<!-- eslint-disable angular/cyclomatic-complexity -->
<!-- eslint-disable angular/no-call-expression -->
@if(!(hideOmitForCreate && metadata.omitForCreate) && !(hideOmitForEdit && metadata.omitForUpdate)) {
    @switch (type) {
        <!-------------------------------------------->
        <!-----------------Strings-------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.STRING) {
            <string-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </string-input>
        }
        @case (DecoratorTypes.STRING_TEXTBOX) {
            <string-textbox-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </string-textbox-input>
        }
        @case (DecoratorTypes.STRING_AUTOCOMPLETE) {
            <string-autocomplete-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </string-autocomplete-input>
        }
        @case (DecoratorTypes.STRING_DROPDOWN) {
            <string-dropdown-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </string-dropdown-input>
        }
        @case (DecoratorTypes.STRING_PASSWORD) {
            <string-password-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </string-password-input>
        }
        <!-------------------------------------------->
        <!-----------------Booleans------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.BOOLEAN_CHECKBOX) {
            <boolean-checkbox-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </boolean-checkbox-input>
        }
        @case (DecoratorTypes.BOOLEAN_TOGGLE) {
            <boolean-toggle-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </boolean-toggle-input>
        }
        @case (DecoratorTypes.BOOLEAN_DROPDOWN) {
            <boolean-dropdown-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </boolean-dropdown-input>
        }
        <!-------------------------------------------->
        <!------------------Numbers------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.NUMBER) {
            <number-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </number-input>
        }
        @case (DecoratorTypes.NUMBER_DROPDOWN) {
            <number-dropdown-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </number-dropdown-input>
        }
        @case (DecoratorTypes.NUMBER_SLIDER) {
            <number-slider-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </number-slider-input>
        }
        <!-------------------------------------------->
        <!-------------------Array-------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.ARRAY_DATE) {
            <array-date-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-date-input>
        }
        @case (DecoratorTypes.ARRAY_DATE_TIME) {
            <array-date-time-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-date-time-input>
        }
        @case (DecoratorTypes.ARRAY_DATE_RANGE) {
            <array-date-range-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-date-range-input>
        }
        @case (DecoratorTypes.ARRAY_STRING_CHIPS) {
            <array-string-chips-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-string-chips-input>
        }
        @case (DecoratorTypes.ARRAY_STRING_AUTOCOMPLETE_CHIPS) {
            <array-string-autocomplete-chips
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-string-autocomplete-chips>
        }
        @case (DecoratorTypes.ARRAY_STRING_DROPDOWN) {
            <array-string-dropdown-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </array-string-dropdown-input>
        }
        <!-------------------------------------------->
        <!-------------------Dates-------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.DATE) {
            <date-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </date-input>
        }
        @case (DecoratorTypes.DATE_RANGE) {
            <date-range-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </date-range-input>
        }
        @case (DecoratorTypes.DATE_TIME) {
            <date-time-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </date-time-input>
        }
        <!-------------------------------------------->
        <!-------------------Files-------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.FILE_DEFAULT) {
            <file-default-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </file-default-input>
        }
        @case (DecoratorTypes.FILE_IMAGE) {
            <file-image-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </file-image-input>
        }
        <!-------------------------------------------->
        <!-------------- references many ------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.REFERENCES_MANY) {
            <references-many-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </references-many-input>
        }
        <!-------------------------------------------->
        <!-------------------Custom------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.CUSTOM) {
            <custom-input
                [entity]="entity"
                [key]="propertyKey"
                [getValidationErrorMessage]="internalGetValidationErrorMessage"
                [isReadOnly]="internalIsReadOnly"
                (inputChangeEvent)="emitChange()"
            >
            </custom-input>
        }
        <!-------------------------------------------->
        <!-------------------Object------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.OBJECT) {
            <b>{{metadataDefaultObject.displayName}}</b>
            <!-- iterates over the object properties -->
            <ng-container *ngTemplateOutlet="form; context: objectFormContext"></ng-container>
        }
        <!-------------------------------------------->
        <!---------------Object Dropdown-------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.OBJECT_DROPDOWN) {
            <mat-form-field class="w-full">
                <mat-label>{{metadata.displayName}}</mat-label>
                <mat-select #model="ngModel"
                    [name]="objectDropdownName"
                    [required]="metadata.required(entity)"
                    [disabled]="internalIsReadOnly"
                    [compareWith]="compareObjectsBound"
                    [(ngModel)]="entity[propertyKey]"
                    (selectionChange)="emitChange()"
                    (opened)="selectSearchInput.focus()"
                    (closed)="selectSearchInput.value = ''; filterObjectDropdownValues('');"
                >
                    <mat-form-field class="select-search-input">
                        <!-- eslint-disable-next-line angular/no-any -->
                        <input #selectSearchInput matInput (keyup)="filterObjectDropdownValues($any($event.target).value)">
                        <fa-icon matSuffix [icon]="faSearch"></fa-icon>
                    </mat-form-field>
                    @if (!metadata.required(entity)) {
                        <mat-option>-</mat-option>
                    }
                    @if (shouldDisplayCurrentObjectDropdownValue) {
                        <mat-option [value]="currentObjectDropdownValue?.value">{{currentObjectDropdownValue?.displayName}}</mat-option>
                    }
                    @for (value of filteredObjectDropdownValues; track $index) {
                        <mat-option [value]="value.value">{{value.displayName}}</mat-option>
                    }
                </mat-select>
                <mat-error>{{internalGetValidationErrorMessage(model)}}</mat-error>
            </mat-form-field>
        }
        <!-------------------------------------------->
        <!-------------- references one -------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.REFERENCES_ONE) {
            <mat-form-field [class.w-full]="metadataReferencesOne.dropdownOnly">
                <mat-label>{{metadata.displayName}}</mat-label>
                <mat-select #inputModel="ngModel"
                    [name]="referencesOneName"
                    [disabled]="internalIsReadOnly"
                    [required]="metadata.required(entity)"
                    [(ngModel)]="entity[propertyKey]"
                    (selectionChange)="setReferencesOneObject()"
                    (opened)="selectSearchInput.focus()"
                    (closed)="selectSearchInput.value = ''; filterReferencesOneValues('');"
                >
                    <mat-form-field class="select-search-input">
                        <!-- eslint-disable-next-line angular/no-any -->
                        <input #selectSearchInput matInput (keyup)="filterReferencesOneValues($any($event.target).value)">
                        <fa-icon matSuffix [icon]="faSearch"></fa-icon>
                    </mat-form-field>
                    @if (!metadata.required(entity)) {
                        <mat-option>-</mat-option>
                    }
                    @if (shouldDisplayCurrentReferencesOneDropdownValue) {
                        <mat-option [value]="currentReferencesOneDropdownValue?.value">{{currentReferencesOneDropdownValue?.displayName}}</mat-option>
                    }
                    @for (value of filteredReferencesOneDropdownValues; track $index) {
                        <mat-option [value]="value.value">{{value.displayName}}</mat-option>
                    }
                </mat-select>
                <mat-error>{{internalGetValidationErrorMessage(inputModel)}}</mat-error>
            </mat-form-field>
            <!-- iterates over the references one properties -->
            @if (referencesOneFormContext) {
                <ng-container *ngTemplateOutlet="form; context: referencesOneFormContext"></ng-container>
            }
        }
        <!-------------------------------------------->
        <!-------------------Array-------------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.ARRAY) {
            <div class="entityArray">
                <div class="mat-elevation-z8 elevation-container">
                    <div class="array-headline">
                        <b>{{metadataEntityArray.displayName}}</b>
                    </div>
                    @if (metadataEntityArray.createInline && !internalIsReadOnly) {
                        @if (addArrayItemFormContext) {
                            <ng-container *ngTemplateOutlet="form; context: addArrayItemFormContext"></ng-container>
                        }
                        @else if (addArrayItemFormContext2) {
                            <ng-container *ngTemplateOutlet="form; context: addArrayItemFormContext2"></ng-container>
                        }
                    }
                    @if (!internalIsReadOnly && entityArrayTableContext) {
                        <div class="buttons">
                            <button type="button" mat-raised-button
                                [disabled]="metadataEntityArray.createInline && !isArrayItemValid"
                                (click)="addEntity()">
                                {{metadataEntityArray.addButtonLabel}}
                            </button>
                            <button type="button" mat-raised-button
                                [disabled]="!entityArrayTableContext.$implicit.selection.selected.length"
                                (click)="removeFromEntityArray()">
                                {{metadataEntityArray.removeButtonLabel}}
                            </button>
                        </div>
                    }
                    @if (entityArrayTableContext) {
                        <ng-container *ngTemplateOutlet="table; context: entityArrayTableContext"></ng-container>
                    }
                </div>
            </div>
        }
        <!-------------------------------------------->
        <!------------------ has many ---------------->
        <!-------------------------------------------->
        @case (DecoratorTypes.HAS_MANY) {
            <div class="hasMany">
                <h2 class="title">{{metadataHasMany.tableData.baseData.title}}</h2>
                <div class="grid grid-cols-12 gap-x-6">
                    <mat-form-field class="lg:col-span-8 md:col-span-6 col-span-12">
                        <mat-label>{{metadataHasMany.tableData.baseData.searchLabel}}</mat-label>
                        <input matInput (keyup)="applyHasManyFilter($event)">
                    </mat-form-field>
                    @if (metadataHasMany.tableData.baseData.tableActions.length) {
                        <div
                            [class.lg:col-span-2]="hasManyAllowCreate"
                            [class.lg:col-span-4]="!hasManyAllowCreate"
                            [class.md:col-span-3]="hasManyAllowCreate"
                            [class.md:col-span-6]="!hasManyAllowCreate"
                            [class.col-span-6]="hasManyAllowCreate"
                            [class.col-span-12]="!hasManyAllowCreate"
                        >
                            <button type="button" class="actions-button" mat-raised-button [matMenuTriggerFor]="menu">
                                {{metadataHasMany.tableData.baseData.tableActionsLabel}}
                            </button>
                        </div>
                    }
                    <mat-menu #menu="matMenu">
                        @if (metadataHasMany.tableData.baseData.allowJsonImport) {
                            <button type="button" mat-menu-item [disabled]="hasManyTableActionDisabled(hasManyImportAction)" (click)="runHasManyTableAction(hasManyImportAction)">
                                {{hasManyImportAction.displayName}}
                            </button>
                        }
                        @for (action of metadataHasMany.tableData.baseData.tableActions; track $index) {
                            <button type="button" mat-menu-item [disabled]="hasManyTableActionDisabled(action)" (click)="runHasManyTableAction(action)">
                                {{action.displayName}}
                            </button>
                        }
                    </mat-menu>
                    @if (hasManyAllowCreate) {
                        <div
                            [class.lg:col-span-2]="metadataHasMany.tableData.baseData.tableActions.length"
                            [class.lg:col-span-4]="!metadataHasMany.tableData.baseData.tableActions.length"
                            [class.md:col-span-3]="metadataHasMany.tableData.baseData.tableActions.length"
                            [class.md:col-span-6]="!metadataHasMany.tableData.baseData.tableActions.length"
                            [class.col-span-6]="metadataHasMany.tableData.baseData.tableActions.length"
                            [class.col-span-12]="!metadataHasMany.tableData.baseData.tableActions.length"
                        >
                            <button type="button" class="create-button" mat-raised-button (click)="createHasManyEntity()">
                                {{metadataHasMany.tableData.baseData.createButtonLabel}}
                            </button>
                        </div>
                    }
                </div>
        
                <div class="mat-elevation-z8 elevation-container">
                    @if (hasManyTableContext) {
                        <ng-container *ngTemplateOutlet="table; context: hasManyTableContext"></ng-container>
                    }
                </div>
            </div>
        }
        
        @default {
            <div>ERROR: The type {{type}} is not known.</div>
        }
    }
}


<ng-template #table let-context>
    <mat-table matSort [dataSource]="context.dataSource" [class.table-with-error-slot]="context.shouldShowMissingError">
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox [checked]="context.selection.hasValue() && SelectionUtilities.isAllSelected(context.selection, context.dataSource)"
                    [indeterminate]="context.selection.hasValue() && !SelectionUtilities.isAllSelected(context.selection, context.dataSource)"
                    (change)="$event ? SelectionUtilities.masterToggle(context.selection, context.dataSource) : null">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let value" [dynamicStyleClasses]="context.dynamicRowStyleClasses" [value]="value">
                <mat-checkbox [checked]="context.selection.isSelected(value)"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? context.selection.toggle(value) : null">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        @for (dCol of context.displayColumns; track $index) {
            <ng-container [matColumnDef]="dCol.displayName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{dCol.displayName}}
                </mat-header-cell>
                <mat-cell *matCellDef="let value" [class.enabled]="!dCol.disableClick && context.allowClick(value)"
                    [dynamicStyleClasses]="context.dynamicRowStyleClasses" [value]="value"
                    (click)="clickCell(value, dCol, context)"
                >
                    @if (dCol.Component) {
                        <display-column-value [entity]="value" [ComponentClass]="dCol.Component"></display-column-value>
                    }
                    @else {
                        {{getDisplayColumnValue(value, dCol)}}
                    }
                </mat-cell>
            </ng-container>
        }

        <mat-header-row *matHeaderRowDef="context.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: context.displayedColumns"></mat-row>
    </mat-table>

    @if (context.displayLoadingSpinner && context.isLoading) {
        <mat-spinner>
        </mat-spinner>
    }
    @else if (context.shouldShowMissingError && !context.dataSource.data.length) {
        <div class="table-error">{{context.emptyErrorMessage}}</div>
    }

    <mat-paginator [length]="context.dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</ng-template>

<!--------------------------------------------------------->
<!---------------------------Form-------------------------->
<!--------------------------------------------------------->
<ng-template #form let-context>
    <!-- eslint-disable angular/no-call-expression -->
    @if (context.tabs.length > 1) {
        <mat-tab-group preserveContent>
            @for (tab of context.tabs; track $index) {
                <mat-tab [label]="tab.tabName">
                    @for (row of tab.rows; track $index) {
                        <div class="grid grid-cols-12 gap-x-6">
                            @for (key of row.keys; track key) {
                                <ngx-mat-entity-input
                                    [entity]="context.entity"
                                    [propertyKey]="key"
                                    [getValidationErrorMessage]="internalGetValidationErrorMessage"
                                    [validEmpty]="context.validEmpty?.()"
                                    [isReadOnly]="context.isReadOnly?.(context.entity, key)"
                                    [class]="EntityUtilities.getWidthClasses(context.entity, key)"
                                    [hideOmitForEdit]="context.hideOmitForEdit"
                                    [hideOmitForCreate]="context.hideOmitForCreate"
                                    (inputChangeEvent)="context.inputChangeEvent()"
                                >
                                </ngx-mat-entity-input>
                            }
                        </div>
                    }
                </mat-tab>
            }
        </mat-tab-group>
    }
    @else {
        @if (!context.tabs.length) {
            <span class="no-entity-tabs">
                ERROR: No Inputs. Did you correctly assign all values in the model constructor?
            </span>
        }
        @else {
            @for (row of context.tabs[0].rows; track $index) {
                <div class="grid grid-cols-12 gap-x-6">
                    @for (key of row.keys; track key) {
                        <ngx-mat-entity-input
                            [entity]="context.entity"
                            [propertyKey]="key"
                            [getValidationErrorMessage]="internalGetValidationErrorMessage"
                            [validEmpty]="context.validEmpty?.()"
                            [isReadOnly]="context.isReadOnly?.(context.entity, key)"
                            [class]="EntityUtilities.getWidthClasses(context.entity, key)"
                            [hideOmitForEdit]="context.hideOmitForEdit"
                            [hideOmitForCreate]="context.hideOmitForCreate"
                            (inputChangeEvent)="context.inputChangeEvent()"
                        >
                        </ngx-mat-entity-input>
                    }
                </div>
            }
        }
    }
</ng-template>

<!--------------------------------------------------------->
<!--------------------Add Array Item Dialog---------------->
<!--------------------------------------------------------->
<ng-template #addArrayItemDialog>
    <div class="mat-dialog-title">
        <div>{{addArrayItemDialogData.title}}</div>
    </div>

    <form (ngSubmit)="addArrayItem()">
        <mat-dialog-content>
            @if (addArrayItemFormContext) {
                <ng-container *ngTemplateOutlet="form; context: addArrayItemFormContext"></ng-container>
            }
        </mat-dialog-content>
    
        <mat-dialog-actions>
            <div class="dialog-button-with-info-icon">
                <button type="submit" mat-raised-button matBadgeColor="warn"
                    [disabled]="!isArrayItemValid"
                    [matBadge]="arrayItemValidationErrors.length"
                    [matBadgeHidden]="!arrayItemValidationErrors.length"
                >
                    {{addArrayItemDialogData.createButtonLabel}}
                </button>
                @if (arrayItemValidationErrors.length) {
                    <ngx-mat-entity-tooltip [tooltipContent]="arrayItemTooltipContent"></ngx-mat-entity-tooltip>
                }
            </div>
            <button type="button" mat-raised-button class="cancel-button" (click)="closeAddArrayItemDialog()">
                {{addArrayItemDialogData.cancelButtonLabel}}
            </button>
        </mat-dialog-actions>
    </form>

</ng-template>

<!--------------------------------------------------------->
<!--------------------Edit Array Item Dialog---------------->
<!--------------------------------------------------------->
<ng-template #editArrayItemDialog>
    <div class="mat-dialog-title">
        <div>{{editArrayItemDialogData.title(arrayItemPriorChanges)}}</div>
    </div>
    
    <form (ngSubmit)="saveArrayItem()">
        <mat-dialog-content>
            @if (editArrayItemFormContext) {
                <ng-container *ngTemplateOutlet="form; context: editArrayItemFormContext"></ng-container>
            }
        </mat-dialog-content>
        
        <mat-dialog-actions>
            <div class="dialog-button-with-info-icon">
                <button type="submit" mat-raised-button matBadgeColor="warn"
                    [class.badge-changes]="!arrayItemValidationErrors.length"
                    [disabled]="internalIsReadOnly || !isArrayItemValid || !isArrayItemDirty"
                    [matBadge]="arrayItemValidationErrors.length > 0 ? arrayItemValidationErrors.length : arrayItemChanges.length"
                    [matBadgeHidden]="!arrayItemValidationErrors.length && !arrayItemChanges.length"
                >
                    {{editArrayItemDialogData.confirmButtonLabel}}
                </button>
                @if (arrayItemValidationErrors.length || arrayItemChanges.length) {
                    <ngx-mat-entity-tooltip [tooltipContent]="arrayItemTooltipContent"></ngx-mat-entity-tooltip>
                }
            </div>
            <button type="button" mat-raised-button class="cancel-button" (click)="closeEditArrayItemDialog()">
                {{editArrayItemDialogData.cancelButtonLabel}}
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>

<!--------------------------------------------------------->
<!--------------------Create Has Many Dialog---------------->
<!--------------------------------------------------------->
<ng-template #createHasManyDialog>
    <div class="mat-dialog-title">
        <div>{{metadataHasMany.tableData.createData.title}}</div>
    </div>
    
    <form (ngSubmit)="dialogCreateHasMany()">
        <mat-dialog-content>
            @if (hasManyCreateFormContext) {
                <ng-container *ngTemplateOutlet="form; context: hasManyCreateFormContext"></ng-container>
            }
        </mat-dialog-content>
        
        <mat-dialog-actions>
            <div class="dialog-button-with-info-icon">
                <button type="submit" mat-raised-button matBadgeColor="warn"
                    [disabled]="!isHasManyEntityValid"
                    [matBadge]="hasManyValidationErrors.length"
                    [matBadgeHidden]="!hasManyValidationErrors.length"
                >
                    {{metadataHasMany.tableData.createData.createButtonLabel}}
                </button>
                @if (hasManyValidationErrors.length) {
                    <ngx-mat-entity-tooltip [tooltipContent]="hasManyTooltipContent"></ngx-mat-entity-tooltip>
                }
            </div>
            <button type="button" mat-raised-button class="cancel-button" (click)="dialogCancelCreateHasMany()">
                {{metadataHasMany.tableData.createData.cancelButtonLabel}}
            </button>
        </mat-dialog-actions>
    </form>
    
</ng-template>

<!--------------------------------------------------------->
<!--------------------Edit Has Many Dialog----------------->
<!--------------------------------------------------------->
<ng-template #editHasManyDialog>
    <div class="mat-dialog-title">
        <div>{{metadataHasMany.tableData.editData.title(hasManyEntityPriorChanges)}}</div>

        <div class="actions-container">
            @if (metadataHasMany.tableData.editData.actions.length) {
                <button type="button" mat-raised-button [matMenuTriggerFor]="menu">
                    {{metadataHasMany.tableData.editData.actionsLabel}}
                </button>
            }
            <mat-menu #menu="matMenu">
                @for (action of metadataHasMany.tableData.editData.actions; track $index) {
                    <button type="button" mat-menu-item [disabled]="hasManyEditActionDisabled(action)" (click)="hasManyRunEditAction(action)">
                        {{action.displayName}}
                    </button>
                }
            </mat-menu>
        
            @if (hasManyAllowDelete(hasManyEntity)) {
                <button type="button" mat-raised-button color="warn" class="delete-button" tabindex="-1" (click)="deleteHasManyEntity()">
                    {{metadataHasMany.tableData.editData.deleteButtonLabel}}
                </button>
            }
        </div>
    </div>
    
    <form (ngSubmit)="dialogEditHasMany()">
        <mat-dialog-content>
            @if (hasManyEditFormContext) {
                <ng-container *ngTemplateOutlet="form; context: hasManyEditFormContext"></ng-container>
            }
        </mat-dialog-content>
        
        <mat-dialog-actions>
            <div class="dialog-button-with-info-icon">
                <button type="submit" mat-raised-button matBadgeColor="warn"
                    [class.badge-changes]="!hasManyValidationErrors.length"
                    [disabled]="internalIsReadOnly || !isHasManyEntityValid || !isHasManyEntityDirty"
                    [matBadge]="hasManyValidationErrors.length > 0 ? hasManyValidationErrors.length : hasManyChanges.length"
                    [matBadgeHidden]="!hasManyValidationErrors.length && !hasManyChanges.length"
                >
                    {{metadataHasMany.tableData.editData.confirmButtonLabel}}
                </button>
                @if (hasManyValidationErrors.length || hasManyChanges.length) {
                    <ngx-mat-entity-tooltip [tooltipContent]="hasManyTooltipContent"></ngx-mat-entity-tooltip>
                }
            </div>
            <button type="button" mat-raised-button class="cancel-button" (click)="dialogCancelEditHasMany()">
                {{metadataHasMany.tableData.editData.cancelButtonLabel}}
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>