mat-form-field {
    width: 100%;
}

::ng-deep {
    .mat-form-field.mat-form-field-disabled {
        .mat-form-field-wrapper {
            .mat-form-field-underline {
                background-image: none;
                height: 1px;
                background-color: rgba(0, 0, 0, .42);
            }
        }

        .mat-chip.mat-standard-chip.mat-chip-disabled {
            opacity: 1;

            button {
                opacity: 0.2;
            }
        }

        .mat-select-disabled .mat-select-value {
            color: black;
        }

        .mat-date-range-input-inner:disabled {
            color: black;
        }
    }

    .mat-form-field {
        .mat-slide-toggle.mat-disabled {
            opacity: 1;
        }
    }

    .mat-input-element:disabled {
        color: black;
    }
}

.entityArray {
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    mat-table {
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .mat-column-select {
        flex: 0 0 75px;
    }

    .array-error {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -25.8px;
        border: 1px solid #E0E0E0;
        background-color: #F8D3D7;
        color: #721C24;
        height: 25.8px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}