<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-select
        [(ngModel)]="propertyValue"
        [name]="key.toString()"
        #model="ngModel"
        [required]="metadata.required"
        [disabled]="isReadOnly"
        (selectionChange)="emitChange()"
    >
        <mat-option [value]="undefined">-</mat-option>
        <mat-option [value]="true">{{metadata.dropdownTrue}}</mat-option>
        <mat-option [value]="false">{{metadata.dropdownFalse}}</mat-option>
    </mat-select>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>