// normal style
.mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-paginator {
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-column-select {
    flex: 0 0 48px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
}

.enabled:hover {
    cursor: pointer;
}

// error handling
.table-with-error-slot {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
    border: 1px solid #E0E0E0;
    background-color: #F8D3D7;
    color: #721C24;
    height: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}