<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <input
        matInput
        [(ngModel)]="entity['randomValue']"
        [name]="key.toString()"
        #model="ngModel"
        [required]="metadata.required(entity)"
        (ngModelChange)="emitChange()"
        [disabled]="isReadOnly"
    >
    <button type="button" (click)="randomInput()" mat-icon-button matSuffix [disabled]="isReadOnly">
        <i class="fas fa-dice"></i>
    </button>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>