<!-- eslint-disable angular/no-call-expression -->
<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-select #model="ngModel"
        [multiple]="true"
        [name]="name"
        [required]="metadata.required(entity)"
        [disabled]="isReadOnly"
        [(ngModel)]="propertyValue"
        (selectionChange)="emitChange()"
        (opened)="selectSearchInput.focus()"
        (closed)="selectSearchInput.value = ''; filterDropdownValues('');"
    >
        <mat-form-field class="select-search-input">
            <!-- eslint-disable-next-line angular/no-any -->
            <input #selectSearchInput matInput (keyup)="filterDropdownValues($any($event.target).value)">
            <fa-icon matSuffix [icon]="faSearch"></fa-icon>
        </mat-form-field>
        @for (value of filteredDropdownValues; track $index) {
            <mat-option [value]="value.value">{{value.displayName}}</mat-option>
        }
        @for (value of propertyValue; track $index) {
            @if (shouldDisplayCurrentValue(value)) {
                <mat-option [value]="value">{{getDisplayNameForValue(value)}}</mat-option>
            }
        }
    </mat-select>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>