<!-- eslint-disable angular/cyclomatic-complexity -->
@if (data.title) {
    <h2 mat-dialog-title>{{data.title}}</h2>
}

<mat-dialog-content>
    @for (paragraph of data.text; track $index) {
        <p>{{paragraph}}</p>
    }
    @if (data.requireConfirmation) {
        <div class="checkbox-wrapper">
            <mat-checkbox name="confirm" [(ngModel)]="confirm">
                {{data.confirmationText}}
            </mat-checkbox>
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    @if (data.type === 'delete') {
        <button type="button" mat-raised-button color="warn" class="confirm-button" [disabled]="data.requireConfirmation && !confirm" (click)="confirmAction()">
            {{data.confirmButtonLabel}}
        </button>
    }
    @if (data.type !== 'delete') {
        <button type="button" mat-raised-button class="confirm-button" [disabled]="data.requireConfirmation && !confirm" (click)="confirmAction()">
            {{data.confirmButtonLabel}}
        </button>
    }
    @if (data.type !== 'info-only') {
        <button type="button" mat-raised-button class="cancel-button" (click)="cancel()">
            {{data.cancelButtonLabel}}
        </button>
    }
</mat-dialog-actions>