<h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>

<mat-dialog-content>
    <p *ngFor="let paragraph of data.text">{{paragraph}}</p>
    <div *ngIf="data.requireConfirmation" class="checkbox-wrapper">
        <mat-checkbox [(ngModel)]="confirm" name="confirm">
            {{data.confirmationText}}
        </mat-checkbox>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" *ngIf="data.type === 'delete'" mat-raised-button color="warn" (click)="confirmAction()" [disabled]="data.requireConfirmation && !confirm" class="confirm-button">
        {{data.confirmButtonLabel}}
    </button>
    <button type="button" *ngIf="data.type !== 'delete'" mat-raised-button (click)="confirmAction()" [disabled]="data.requireConfirmation && !confirm" class="confirm-button">
        {{data.confirmButtonLabel}}
    </button>
    <button type="button" *ngIf="data.type !== 'info-only'" mat-raised-button (click)="cancel()" class="cancel-button">
        {{data.cancelButtonLabel}}
    </button>
</mat-dialog-actions>