$dot-diameter: 25px;

.file-input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}

.image-preview {
    height: 250px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .prev-button {
        font-size: 100px;
        margin-left: 5px;
        color: rgba(0, 0, 0, .54);
    }

    .next-button {
        font-size: 100px;
        margin-right: 5px;
        color: rgba(0, 0, 0, .54);
    }

    .prev-button:hover,
    .next-button:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, .7);
        transition: all 500ms ease;
    }

    .prev-button.disabled,
    .next-button.disabled {
        color: rgba(0, 0, 0, .26);
    }

    .prev-button.disabled:hover,
    .next-button.disabled:hover {
        color: rgba(0, 0, 0, .26);
        transition: none;
        cursor: default;
    }

    img {
        max-width: calc(100% - 100px);
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
    }
}

.preview-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        height: auto;
        width: auto;

        .dot {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $dot-diameter;
            width: $dot-diameter;
            min-width: $dot-diameter;
            background-color: rgba(black, .38);
            border-radius: 50%;

            .image-index {
                color: white;
                font-size: calc($dot-diameter * 0.8);
                font-weight: 600;
            }
        }

        .dot.selected {
            background-color: rgba(black, .54);
        }
    }

    button:hover {
        .dot {
            background-color: rgba(0, 0, 0, .54);
            transition: all 300ms ease;
        }
    }
}