<!-- eslint-disable angular/cyclomatic-complexity -->
 
<!-- eslint-disable angular/prefer-ngsrc -->
<!-- eslint-disable angular/alt-text -->
 
@if (!metadata.dragAndDrop && !metadata.preview) {
    <file-input
        [propertyValue]="propertyValue"
        [metadata]="metadata"
        [getValidationErrorMessage]="getValidationErrorMessage"
        [isReadOnly]="isReadOnly"
        [entity]="entity"
        [key]="key"
        (fileDataChangeEvent)="refreshFileData($event)"
    >
    </file-input>
}
    
@if (metadata.dragAndDrop || metadata.preview) {
    <div class="file-input mat-elevation-z8">
        <file-input
            [propertyValue]="propertyValue"
            [metadata]="metadata"
            [getValidationErrorMessage]="getValidationErrorMessage"
            [isReadOnly]="isReadOnly"
            [entity]="entity"
            [key]="key"
            (fileDataChangeEvent)="refreshFileData($event)"
        >
        </file-input>

        @if (metadata.preview) {
            @if (metadata.multiple) {
                <div class="image-preview">
                    @if (multiPreviewImages?.[imageIndex]) {
                        <img class="mat-elevation-z2" [src]="multiPreviewImages?.[imageIndex]">
                    }
                    @else {
                        <img class="mat-elevation-z2" [src]="metadata.previewPlaceholderUrl ?? placeHolder">
                    }
                </div>
            
                <div class="preview-nav">
                    <fa-icon class="left-button" [icon]="faAngleLeft" [class.disabled]="imageIndex === 0" (click)="prev()"></fa-icon>
                    @if (
                        multiPreviewImages
                        && multiPreviewImages[imageIndex-4]
                        && imageIndex === (multiPreviewImages.length - 1)
                    ) {
                        <div class="dot" (click)="setIndex(imageIndex-4)">
                            <div class="image-index">{{imageIndex - 3}}</div>
                        </div>
                    }
                    @if (
                        multiPreviewImages
                        && multiPreviewImages[imageIndex-3]
                        && (
                            imageIndex === (multiPreviewImages.length - 2)
                            || imageIndex === (multiPreviewImages.length - 1)
                        )
                    ) {
                        <div class="dot" (click)="setIndex(imageIndex-3)">
                            <div class="image-index">{{imageIndex - 2}}</div>
                        </div>
                    }
                    @if (multiPreviewImages?.[imageIndex-2]) {
                        <div class="dot" (click)="setIndex(imageIndex-2)">
                            <div class="image-index">{{imageIndex - 1}}</div>
                        </div>
                    }
                    @if (multiPreviewImages?.[imageIndex-1]) {
                        <div class="dot" (click)="setIndex(imageIndex-1)">
                            <div class="image-index">{{imageIndex}}</div>
                        </div>
                    }                    
                    <div class="dot selected disabled">
                        <div class="image-index">{{imageIndex + 1}}</div>
                    </div>
                    @if (multiPreviewImages?.[imageIndex+1]) {
                        <div class="dot" (click)="setIndex(imageIndex+1)">
                            <div class="image-index">{{imageIndex + 2}}</div>
                        </div>
                    }
                    @if (multiPreviewImages?.[imageIndex+2]) {
                        <div class="dot" (click)="setIndex(imageIndex+2)">
                            <div class="image-index">{{imageIndex + 3}}</div>
                        </div>
                    }
                    @if (multiPreviewImages?.[imageIndex+3] && imageIndex <= 1) {
                        <div class="dot" (click)="setIndex(imageIndex+3)">
                            <div class="image-index">{{imageIndex + 4}}</div>
                        </div>
                    }
                    @if (multiPreviewImages?.[imageIndex+4] && imageIndex === 0) {
                        <div class="dot" (click)="setIndex(imageIndex+4)">
                            <div class="image-index">{{imageIndex + 5}}</div>
                        </div>
                    }
                    <fa-icon class="right-button" [icon]="faAngleRight" [class.disabled]="!multiPreviewImages || !multiPreviewImages.length || imageIndex === (multiPreviewImages.length - 1)" (click)="next()"></fa-icon>
                </div>
            }
            @else {
                <div class="image-preview">
                    <img class="mat-elevation-z2" [src]="singlePreviewImage ?? metadata.previewPlaceholderUrl ?? placeHolder">
                </div>
            }
        }
    </div>
}