<div class="mat-elevation-z8" style="border-radius: 5px;padding: 15px;margin-bottom: 15px;margin-top: 15px;">
            
    <div class="date-time">
        <mat-form-field appearance="standard" class="datepicker">
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                matInput
                [(ngModel)]="input"
                [name]="key.toString()"
                #model="ngModel"
                [matDatepicker]="picker"
                [required]="metadata.required"
                [min]="metadata.minDate ? metadata.minDate(input) : undefined"
                [max]="metadata.maxDate ? metadata.maxDate(input) : undefined"
                [matDatepickerFilter]="metadata.filterDate ? metadata.filterDate : DateUtilities.defaultDateFilter"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="timepicker">
            <mat-label>{{metadata.timeDisplayName}}</mat-label>
            <mat-select
                [(ngModel)]="time"
                [name]="key.toString() + 'time'"
                #timeModel="ngModel"
                [required]="metadata.required"
            >
                <mat-option *ngFor="let validTime of DateUtilities.getValidTimesForDropdown(
                        DateUtilities.asDate(input),
                        metadata.times,
                        metadata.minTime,
                        metadata.maxTime,
                        metadata.filterTime
                    )"
                    [value]="validTime.value"
                >
                    {{validTime.displayName}}
                </mat-option>
            </mat-select>
            <mat-error>{{getValidationErrorMessage(timeModel)}}</mat-error>
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-raised-button
            [disabled]="model.errors || timeModel.errors || DateUtilities.timeIsUnprocessable(time)"
            (click)="addDateTime()">
            {{metadata.addButtonLabel}}
        </button>
        <button mat-raised-button
            [disabled]="!selection.selected.length"
            (click)="remove()">
            {{metadata.removeButtonLabel}}
        </button>
    </div>

    <mat-table [dataSource]="dataSource">
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox [disabled]="!dataSource.data.length" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let module">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(module) : null" [checked]="selection.isSelected(module)"></mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <ng-container *ngFor="let dCol of metadata.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef>
                {{dCol.displayName}}
            </mat-header-cell>
            <mat-cell class="entity" *matCellDef="let entity">
                {{dCol.value(entity)}}
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="array-error" *ngIf="metadata.required && !dataSource.data.length">
        {{metadata.missingErrorMessage}}
    </div>
</div>