<div class="date-time">
    <mat-form-field>
        <mat-label>{{metadata.displayName}}</mat-label>
        <input
            matInput
            [(ngModel)]="propertyValue"
            [name]="key.toString() + uuid"
            #model="ngModel"
            [matDatepicker]="picker"
            [required]="metadata.required(entity)"
            [min]="metadata.minDate ? metadata.minDate(propertyValue) : undefined"
            [max]="metadata.maxDate ? metadata.maxDate(propertyValue) : undefined"
            [matDatepickerFilter]="metadata.filterDate ?? defaultDateFilter"
            (dateChange)="setTime()"
            [disabled]="isReadOnly"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
    </mat-form-field>
    <mat-form-field class="timepicker">
        <mat-label>{{metadata.timeDisplayName}}</mat-label>
        <mat-select
            [(ngModel)]="time"
            [name]="key.toString() + 'time' + uuid"
            #timeModel="ngModel"
            [required]="metadata.required(entity)"
            [compareWith]="compareTimes"
            [disabled]="isReadOnly"
            (selectionChange)="setTime()"
        >
            <mat-option *ngFor="let validTime of DateUtilities.getValidTimesForDropdown(
                    metadata.times,
                    propertyValue,
                    metadata.minTime,
                    metadata.maxTime,
                    metadata.filterTime
                )"
                [value]="validTime.value"
            >
                {{validTime.displayName}}
            </mat-option>
        </mat-select>
        <mat-error>{{getValidationErrorMessage(timeModel)}}</mat-error>
    </mat-form-field>
</div>