<!-- <div class="row">
    <ngx-mat-entity-input
        *ngFor="let key of keys"
        [entity]="tableConfig"
        [propertyKey]="key"
        [hideOmitForCreate]="true"
        class="lg:col-span-{{EntityUtilities.getWidth(tableConfig, key, 'lg')}} md:col-span-{{EntityUtilities.getWidth(tableConfig, key, 'md')}} col-span-{{EntityUtilities.getWidth(tableConfig, key, 'sm')}}"
    >
    </ngx-mat-entity-input>
</div> -->

<div class="container my-8 mx-auto">
    <mat-form-field>
        <mat-label>Table Configuration</mat-label>
        <mat-select #config="ngModel" name="config" [(ngModel)]="selectedTableDataPreset">
            @for (value of tableDataPresets; track $index) {
                <mat-option [value]="value" (click)="refreshTable()">
                    {{value}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    @if (showTable) {
        <ngx-mat-entity-table [tableData]="tableData">
        </ngx-mat-entity-table>
    }
    @else {
        <ngx-mat-entity-table [tableData]="tableData">
        </ngx-mat-entity-table>
    }
</div>