.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid {
    display: grid;
}

@media (min-width: 1024px) {
    .lg\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }
    .lg\:col-span-11 {
        grid-column: span 11 / span 11 !important;
    }
    .lg\:col-span-10 {
        grid-column: span 10 / span 10 !important;
    }
    .lg\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }
    .lg\:col-span-8 {
        grid-column: span 8 / span 8 !important;
    }
    .lg\:col-span-7 {
        grid-column: span 7 / span 7 !important;
    }
    .lg\:col-span-6 {
        grid-column: span 6 / span 6 !important;
    }
    .lg\:col-span-5 {
        grid-column: span 5 / span 5 !important;
    }
    .lg\:col-span-4 {
        grid-column: span 4 / span 4 !important;
    }
    .lg\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }
    .lg\:col-span-2 {
        grid-column: span 2 / span 2 !important;
    }
    .lg\:col-span-1 {
        grid-column: span 1 / span 1 !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .md\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }
    .md\:col-span-11 {
        grid-column: span 11 / span 11 !important;
    }
    .md\:col-span-10 {
        grid-column: span 10 / span 10 !important;
    }
    .md\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }
    .md\:col-span-8 {
        grid-column: span 8 / span 8 !important;
    }
    .md\:col-span-7 {
        grid-column: span 7 / span 7 !important;
    }
    .md\:col-span-6 {
        grid-column: span 6 / span 6 !important;
    }
    .md\:col-span-5 {
        grid-column: span 5 / span 5 !important;
    }
    .md\:col-span-4 {
        grid-column: span 4 / span 4 !important;
    }
    .md\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }
    .md\:col-span-2 {
        grid-column: span 2 / span 2 !important;
    }
    .md\:col-span-1 {
        grid-column: span 1 / span 1 !important;
    }
}

.col-span-12 {
    grid-column: span 12 / span 12;
}
.col-span-11 {
    grid-column: span 11 / span 11;
}
.col-span-10 {
    grid-column: span 10 / span 10;
}
.col-span-9 {
    grid-column: span 9 / span 9;
}
.col-span-8 {
    grid-column: span 8 / span 8;
}
.col-span-7 {
    grid-column: span 7 / span 7;
}
.col-span-6 {
    grid-column: span 6 / span 6;
}
.col-span-5 {
    grid-column: span 5 / span 5;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-1 {
    grid-column: span 1 / span 1;
}