<input #fileInput
    type="file" hidden
    [multiple]="metadata.multiple"
    [accept]="FileUtilities.getAcceptString(metadata.allowedMimeTypes)"
    (change)="setFileFromInput($event)"
>

<mat-form-field floatLabel="always">
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-chip-grid #chipGrid
        [(ngModel)]="filenames" name="file" #model="ngModel"
        [required]="metadata.required"
    >
        <mat-chip-row *ngFor="let name of filenames" (removed)="removeFile(name)">
            {{name}}
            <span class="mat-mdc-chip-remove mat-mdc-chip-trailing-icon ngx-mat-grey" (click)="downloadFile(name)">
                <i class="fas fa-download"></i>
            </span>
            <button *ngIf="!isReadOnly" type="button" matChipRemove>
                <i class="{{metadata.deleteIcon}}"></i>
            </button>
        </mat-chip-row>
        <input [matChipInputFor]="chipGrid" [readonly]="true" hidden>
    </mat-chip-grid>
    <button *ngIf="downloadAllEnabled()" type="button" class="ngx-mat-grey" mat-icon-button matSuffix (click)="downloadAll()">
        <i class="fas fa-file-zipper"></i>
    </button>
    <button type="button" class="ngx-mat-grey" mat-icon-button matSuffix [disabled]="isReadOnly" (click)="fileInput.click()">
        <i class="fas fa-upload"></i>
    </button>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>

<div *ngIf="metadata.dragAndDrop && !isReadOnly" class="drag-drop" dragDrop (files)="setFile($event)">
    <button type="button" mat-icon-button [disabled]="isReadOnly" (click)="fileInput.click()">
        <i class="fas fa-file-arrow-up ngx-mat-grey"></i>
    </button>
</div>