<!-- eslint-disable angular/no-call-expression -->
<input #fileInput
    type="file" hidden
    [multiple]="metadata.multiple"
    [accept]="acceptString"
    (change)="setFileFromInput($event)"
>

<mat-form-field floatLabel="always">
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-chip-grid #chipGrid
        #model="ngModel" name="file" [required]="metadata.required(entity)"
        [(ngModel)]="filenames"
    >
        @for (name of filenames; track $index) {
            <mat-chip-row (removed)="removeFile(name)">
                {{name}}
                <span class="mat-mdc-chip-remove mat-mdc-chip-trailing-icon ngx-mat-grey" (click)="downloadFile(name)">
                    <fa-icon [icon]="faDownload"></fa-icon>
                </span>
                @if (!isReadOnly) {
                    <button type="button" matChipRemove>
                        <fa-icon [icon]="metadata.deleteIcon"></fa-icon>
                    </button>
                }
            </mat-chip-row>
        }
        <input hidden [matChipInputFor]="chipGrid" [readonly]="true">
    </mat-chip-grid>
    @if (downloadAllEnabled()) {
        <button type="button" class="ngx-mat-grey" mat-icon-button matSuffix (click)="downloadAll()">
            <fa-icon [icon]="faFileZipper"></fa-icon>
        </button>
    }
    <button type="button" class="ngx-mat-grey" mat-icon-button matSuffix [disabled]="isReadOnly" (click)="fileInput.click()">
        <fa-icon [icon]="metadata.multiple ? faPlusCircle : faUpload"></fa-icon>
    </button>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>

@if (metadata.dragAndDrop && !isReadOnly) {
    <div class="drag-drop" dragDrop (files)="setFile($event)">
        <button type="button" mat-icon-button [disabled]="isReadOnly" (click)="fileInput.click()">
            <fa-icon class="ngx-mat-grey" [icon]="faFileArrowUp"></fa-icon>
        </button>
    </div>
}