<input #fileInput
    type="file" hidden
    [multiple]="metadata.multiple"
    [accept]="FileUtilities.getAcceptString(metadata.allowedMimeTypes)"
    (change)="setFileFromInput($event)"
>

<mat-form-field floatLabel="always">
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-chip-list #chipList
        [(ngModel)]="filenames"
        name="file"
        #model="ngModel"
        [required]="metadata.required"
        [disabled]="isReadOnly"
    >
        <mat-chip *ngFor="let name of filenames" (removed)="removeFile(name)">
            {{name}}
            <button class="mat-chip-remove mat-chip-trailing-icon ngx-mat-grey" (click)="downloadFile(name)">
                <i class="fas fa-download"></i>
            </button>
            <button matChipRemove (click)="chipList._markAsTouched()">
                <i class="{{metadata.deleteIcon}}"></i>
            </button>
        </mat-chip>
        <mat-chip class="download-all-button" *ngIf="downloadAllEnabled()" (click)="downloadAll()">
            {{metadata.downloadAllButtonLabel}}
            <span class="mat-chip-remove mat-chip-trailing-icon ngx-mat-grey">
                <i class="fas fa-file-zipper"></i>
            </span>
        </mat-chip>
        <input [matChipInputFor]="chipList" [readonly]="true" hidden>
    </mat-chip-list>
    <button class="ngx-mat-grey" mat-icon-button matSuffix [disabled]="isReadOnly" (click)="fileInput.click()">
        <i class="fas fa-upload"></i>
    </button>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>

<div *ngIf="metadata.dragAndDrop && !isReadOnly" class="drag-drop" dragDrop (files)="setFile($event)">
    <button mat-icon-button [disabled]="isReadOnly" (click)="fileInput.click()">
        <i class="fas fa-file-arrow-up ngx-mat-grey"></i>
    </button>
</div>