mat-form-field {
    width: 100%;
}

.ngx-mat-grey {
    opacity: 1;
    color: rgba(0, 0, 0, .54);
}

.drag-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px dashed rgba(0, 0, 0, .54);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

    i {
        font-size: 30px;
    }
}