<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-chip-list #chipList
        (ngModelChange)="emitChange()"
        [(ngModel)]="entity[key]" [name]="key.toString()" #model="ngModel"
        [required]="metadata.required"
        [disabled]="isReadOnly"
    >
        <mat-chip *ngFor="let value of stringChipsArrayValues" (removed)="removeStringChipArrayValue(value)">
            {{value}}
            <button matChipRemove>
                <i class="{{metadata.deleteIcon}}"></i>
            </button>
        </mat-chip>
        <input matInput
            [matChipInputFor]="chipList"
            [matAutocomplete]="auto"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addStringChipArrayValue($event)"
            (keyup)="filterAutocompleteStrings(chipsInput)"
            [(ngModel)]="chipsInput" [name]="key.toString()" #chipsModel="ngModel"
            #chipsElement
            [minlength]='metadata.minLength ?? null'
            [maxlength]='metadata.maxLength ?? null'
            [pattern]="metadata.regex ?? '[\\s\\S]*'"
        >
        <mat-error *ngIf="chipsModel.errors">{{getValidationErrorMessage(chipsModel)}}</mat-error>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, chipsElement)">
        <mat-option *ngFor="let value of metadata.autocompleteValues" [value]="value">
          {{value}}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!chipsModel.errors">{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>