@if (!isLoaded && data.displayLoadingSpinner) {
    <div class="page-container">
        <br>
        <mat-spinner></mat-spinner>
        <br>
    </div>
}

@if (isLoaded) {
    <div class="page-container">
        <br>
    
        <!------------>
        <!-- Header -->
        <!------------>
        <div class="header">
            <div class="cancel-container">
                <button type="button" mat-raised-button class="back-button" tabindex="-1" [class.unsavedChanges]="hasUnsavedChanges" (click)="navigateBack()">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                    {{data.createData.cancelButtonLabel}}
                    @if (hasUnsavedChanges) {
                        <fa-icon style="color: orange;" [icon]="faWarning"></fa-icon>
                    }
                </button>
            </div>
        </div>
    
        <h1>{{data.createData.title}}</h1>
    
        <!----------->
        <!-- Input -->
        <!----------->
        <form (ngSubmit)="create()">
            <ngx-mat-entity-form [hideOmitForCreate]="true" [entity]="entity" (selectedTabChange)="checkOffset()" (formChange)="checkEntity()">
            </ngx-mat-entity-form>
    
            <div class="bottom-row-container">
                <div class="bottom-row container">
                    <button type="submit" mat-raised-button matBadgeColor="warn"
                        [disabled]="!isEntityValid || !isEntityDirty"
                        [matBadge]="validationErrors.length"
                        [matBadgeHidden]="!validationErrors.length"
                    >
                        {{data.createData.createButtonLabel}}
                    </button>
                    @if (validationErrors.length) {
                        <ngx-mat-entity-tooltip [tooltipContent]="tooltipContent"></ngx-mat-entity-tooltip>
                    }
                </div>
            </div>
        </form>
    
        <br>
    </div>
}