 
 
<div *ngIf="!isLoaded && data.displayLoadingSpinner" class="container">
    <br>
    <mat-spinner></mat-spinner>
    <br>
</div>

<div *ngIf="isLoaded" class="container">
    <br>

    <!------------>
    <!-- Header -->
    <!------------>
    <div class="header">
        <div class="cancel-container">
            <button type="button" mat-raised-button class="back-button" tabindex="-1" [class.unsavedChanges]="hasUnsavedChanges" (click)="navigateBack()">
                <i class="fas fa-chevron-left"></i>
                {{data.createData.cancelButtonLabel}}
                <i *ngIf="hasUnsavedChanges" class="fas fa-warning"></i>
            </button>
        </div>
    </div>

    <h1>{{data.createData.title}}</h1>

    <!----------->
    <!-- Input -->
    <!----------->
    <form>
        <ngx-mat-entity-form [hideOmitForCreate]="true" [entity]="entity" (selectedTabChange)="checkOffset()" (formChange)="checkEntity()">
        </ngx-mat-entity-form>

        <div class="bottom-row-container">
            <div class="bottom-row container">
                <button type="submit" mat-raised-button matBadgeColor="warn"
                    [disabled]="!isEntityValid || !isEntityDirty"
                    [matBadge]="validationErrors.length"
                    [matBadgeHidden]="!validationErrors.length"
                    (click)="create()"
                >
                    {{data.createData.createButtonLabel}}
                </button>
                <ngx-mat-entity-tooltip *ngIf="validationErrors.length" [tooltipContent]="tooltipContent"></ngx-mat-entity-tooltip>
            </div>
        </div>
    </form>

    <br>
</div>