<h1 class="title">{{data.baseData.title}}</h1>

<div class="row">
    <mat-form-field class="col-lg-8 col-md-6 col-sm-12">
        <mat-label>{{data.baseData.searchLabel}}</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <div
        *ngIf="data.baseData.tableActions.length"
        [class.col-lg-2]="data.baseData.allowCreate()"
        [class.col-lg-4]="!data.baseData.allowCreate()"
        [class.col-md-3]="data.baseData.allowCreate()"
        [class.col-md-6]="!data.baseData.allowCreate()"
        [class.col-sm-6]="data.baseData.allowCreate()"
        [class.col-sm-12]="!data.baseData.allowCreate()"
    >
        <button type="button" class="actions-button" [matMenuTriggerFor]="menu" mat-raised-button>
            {{data.baseData.tableActionsLabel}}
        </button>
    </div>
    <mat-menu #menu="matMenu">
        <button *ngIf="data.baseData.allowJsonImport" type="button" [disabled]="tableActionDisabled(importAction)" (click)="runTableAction(importAction)" mat-menu-item>
            {{importAction.displayName}}
        </button>
        <button type="button" *ngFor="let action of data.baseData.tableActions" [disabled]="tableActionDisabled(action)" (click)="runTableAction(action)" mat-menu-item>
            {{action.displayName}}
        </button>
    </mat-menu>

    <div
        *ngIf="data.baseData.allowCreate()"
        [class.col-lg-2]="data.baseData.tableActions.length"
        [class.col-lg-4]="!data.baseData.tableActions.length"
        [class.col-md-3]="data.baseData.tableActions.length"
        [class.col-md-6]="!data.baseData.tableActions.length"
        [class.col-sm-6]="data.baseData.tableActions.length"
        [class.col-sm-12]="!data.baseData.tableActions.length"
    >
        <button type="button" class="create-button" (click)="createEntity()" mat-raised-button>
            {{data.baseData.createButtonLabel}}
        </button>
    </div>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? SelectionUtilities.masterToggle(selection, dataSource) : null" [checked]="selection.hasValue() && SelectionUtilities.isAllSelected(selection, dataSource)" [indeterminate]="selection.hasValue() && !SelectionUtilities.isAllSelected(selection, dataSource)"> </mat-checkbox>
            </mat-header-cell>
            <mat-cell class="entity" *matCellDef="let entity">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(entity) : null" [checked]="selection.isSelected(entity)"> </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container *ngFor="let dCol of data.baseData.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{dCol.displayName}}
            </mat-header-cell>
            <mat-cell class="entity" [class.enabled]="data.baseData.allowUpdate(entity) || data.baseData.allowRead(entity)" (click)="editEntity(entity)" *matCellDef="let entity">
                {{getDisplayColumnValue(entity, dCol)}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-spinner *ngIf="isLoading && data.baseData.displayLoadingSpinner" style="margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;">
    </mat-spinner>

    <mat-paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>