 
<!-- eslint-disable angular/no-call-expression -->
<h1 class="title">{{data.baseData.title}}</h1>

<div class="grid grid-cols-12 gap-x-6">
    <mat-form-field class="lg:col-span-8 md:col-span-6 col-span-12">
        <mat-label>{{data.baseData.searchLabel}}</mat-label>
        <input matInput [(ngModel)]="searchString">
    </mat-form-field>
    @if (data.baseData.tableActions.length) {
        <div
            [class.lg:col-span-2]="allowCreate"
            [class.lg:col-span-4]="!allowCreate"
            [class.md:col-span-3]="allowCreate"
            [class.md:col-span-6]="!allowCreate"
            [class.col-span-6]="allowCreate"
            [class.col-span-12]="!allowCreate"
        >
            <button type="button" class="actions-button" mat-raised-button [matMenuTriggerFor]="menu">
                {{data.baseData.tableActionsLabel}}
            </button>
        </div>
    }
    <mat-menu #menu="matMenu">
        @if (data.baseData.allowJsonImport) {
            <button type="button" mat-menu-item [disabled]="tableActionDisabled(importAction)" (click)="runTableAction(importAction)">
                {{importAction.displayName}}
            </button>
        }
        @for (action of data.baseData.tableActions; track $index) {
            <button type="button" mat-menu-item [disabled]="tableActionDisabled(action)" (click)="runTableAction(action)">
                {{action.displayName}}
            </button>
        }
    </mat-menu>

    @if (allowCreate) {
        <div
            [class.lg:col-span-2]="data.baseData.tableActions.length"
            [class.lg:col-span-4]="!data.baseData.tableActions.length"
            [class.md:col-span-3]="data.baseData.tableActions.length"
            [class.md:col-span-6]="!data.baseData.tableActions.length"
            [class.col-span-6]="data.baseData.tableActions.length"
            [class.col-span-12]="!data.baseData.tableActions.length"
        >
            <button type="button" class="create-button" mat-raised-button (click)="createEntity()">
                {{data.baseData.createButtonLabel}}
            </button>
        </div>
    }
</div>

<div class="mat-elevation-z8">
    <custom-table
        [configuration]="tableConfig"
        [data]="entities"
        [isLoading]="isLoading"
        [searchString]="searchString"
        (cellClicked)="editEntity($event.value)"
        (selectionChanged)="selected = $event"
    >
    </custom-table>
</div>