<div class="password-row">
    <mat-form-field>
        <mat-label>{{metadata.displayName}}</mat-label>
        <input
            [type]="hide ? 'password' : 'text'"
            matInput
            [(ngModel)]="propertyValue"
            [name]="key.toString() + uuid"
            #model="ngModel"
            [required]="metadata.required(entity)"
            [pattern]="metadata.regex ?? '[\\s\\S]*'"
            [minlength]="metadata.minLength ?? null"
            [maxlength]="metadata.maxLength ?? null"
            (ngModelChange)="passwordInput()"
            [disabled]="isReadOnly"
        >
        <button type="button" (click)="hide = !hide" mat-icon-button matSuffix>
            <div class="d-flex justify-content-center align-items-center">
                <i *ngIf="hide" class="fas fa-eye-slash"></i>
                <i *ngIf="!hide" class="fas fa-eye"></i>
            </div>
        </button>
        <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="metadata.needsConfirmation">
        <mat-label>{{metadata.confirmationDisplayName}}</mat-label>
        <input
            [type]="hideConfirm ? 'password' : 'text'"
            matInput
            [(ngModel)]="confirmPassword"
            [name]="key.toString() + 'confirmPassword' + uuid"
            #confirmModel="ngModel"
            [required]="confirmRequired"
            (ngModelChange)="passwordInput()"
            [disabled]="isReadOnly"
            [passwordMatch]="propertyValue"
        >
        <button type="button" (click)="hideConfirm = !hideConfirm" mat-icon-button matSuffix>
            <div class="d-flex justify-content-center align-items-center">
                <i *ngIf="hideConfirm" class="fas fa-eye-slash"></i>
                <i *ngIf="!hideConfirm" class="fas fa-eye"></i>
            </div>
        </button>
        <mat-error>{{getValidationErrorMessage(confirmModel)}}</mat-error>
    </mat-form-field>
</div>