<div class="password-row">
    <mat-form-field [class.w-50]="metadata.needsConfirmation" [class.w-100]="!metadata.needsConfirmation">
        <mat-label>{{metadata.displayName}}</mat-label>
        <input
            [type]="hide ? 'password' : 'text'"
            matInput
            [(ngModel)]="propertyValue"
            [name]="key.toString()"
            #model="ngModel"
            [required]="metadata.required"
            [pattern]="metadata.regex ?? '[\\s\\S]*'"
            [minlength]="metadata.minLength ?? null"
            [maxlength]="metadata.maxLength ?? null"
            (ngModelChange)="passwordInput()"
            [disabled]="isReadOnly"
        >
        <button type="button" (click)="hide = !hide" mat-icon-button matSuffix>
            <i *ngIf="hide" class="fas fa-eye-slash"></i>
            <i *ngIf="!hide" class="fas fa-eye"></i>
        </button>
        <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
    </mat-form-field>
    <div *ngIf="metadata.needsConfirmation" class="password-spacer"></div>
    <mat-form-field class="w-50" *ngIf="metadata.needsConfirmation">
        <mat-label>{{metadata.confirmationDisplayName}}</mat-label>
        <input
            [type]="hideConfirm ? 'password' : 'text'"
            matInput
            [(ngModel)]="confirmPassword"
            [name]="key.toString() + 'confirmPassword'"
            #confirmModel="ngModel"
            [required]="metadata.required || confirmRequired"
            (ngModelChange)="passwordInput()"
            [disabled]="isReadOnly"
        >
        <button type="button" (click)="hideConfirm = !hideConfirm" mat-icon-button matSuffix>
            <i *ngIf="hideConfirm" class="fas fa-eye-slash"></i>
            <i *ngIf="!hideConfirm" class="fas fa-eye"></i>
        </button>
        <mat-error>{{getValidationErrorMessage(confirmModel)}}</mat-error>
    </mat-form-field>
</div>

<mat-error *ngIf="metadata.needsConfirmation && propertyValue && confirmPassword && (confirmPassword !== propertyValue)">
    {{metadata.passwordsDontMatchErrorMessage}}
</mat-error>