.password-row {
    display: flex;
    justify-content: space-evenly;
    column-gap: 24px;

    mat-form-field {
        flex: 1 1 0;
    }
}

.password-strength-indicator {
    height: 5px;
    width: 100%;
}

.green {
    background-color: green;
}

.yellow {
    background-color: rgb(179, 179, 15);
}

.red {
    background-color: red;
}

@media (max-width: 767px) {
    .password-row {
        flex-wrap: wrap;

        mat-form-field {
            min-width: 100%;
        }
    }
}