<!-- eslint-disable angular/no-call-expression -->
<div class="password-row">
    <mat-form-field>
        <mat-label>{{metadata.displayName}}</mat-label>
        <input
            #model="ngModel"
            matInput
            [type]="hide ? 'password' : 'text'"
            [name]="name"
            [required]="metadata.required(entity)"
            [pattern]="metadata.regex ?? '[\\s\\S]*'"
            [minlength]="metadata.minLength ?? null"
            [maxlength]="metadata.maxLength ?? null"
            [disabled]="isReadOnly"
            [(ngModel)]="propertyValue"
            (ngModelChange)="passwordInput()"
        >
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <div class="d-flex justify-content-center align-items-center">
                <i *ngIf="hide" class="fas fa-eye-slash"></i>
                <i *ngIf="!hide" class="fas fa-eye"></i>
            </div>
        </button>
        <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        <div *ngIf="passwordStrength" class="password-strength-indicator"
            [class.green]="passwordStrength === PasswordStrength.STRONG"
            [class.yellow]="passwordStrength === PasswordStrength.MEDIUM"
            [class.red]="passwordStrength === PasswordStrength.WEAK"
        >
        </div>
    </mat-form-field>
    <mat-form-field *ngIf="metadata.needsConfirmation">
        <mat-label>{{metadata.confirmationDisplayName}}</mat-label>
        <input
            #confirmModel="ngModel"
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            [name]="name + 'confirmPassword'"
            [required]="confirmRequired"
            [disabled]="isReadOnly"
            [passwordMatch]="propertyValue"
            [(ngModel)]="confirmPassword"
            (ngModelChange)="passwordInput()"
        >
        <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
            <div class="d-flex justify-content-center align-items-center">
                <i *ngIf="hideConfirm" class="fas fa-eye-slash"></i>
                <!-- eslint-disable-next-line angular/cyclomatic-complexity -->
                <i *ngIf="!hideConfirm" class="fas fa-eye"></i>
            </div>
        </button>
        <mat-error>{{getValidationErrorMessage(confirmModel)}}</mat-error>
    </mat-form-field>
</div>