<h1 class="title">{{ entitiesData.baseData.title }}</h1>

<div class="row">
    <mat-form-field class="col-lg-8 col-md-6 col-sm-12">
        <mat-label>{{ entitiesData.baseData.searchLabel ? entitiesData.baseData.searchLabel : 'Search' }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>
    <div
        *ngIf="entitiesData.baseData.multiSelectActions?.length"
        [class.col-lg-2]="entitiesData.baseData.allowCreate"
        [class.col-lg-4]="!entitiesData.baseData.allowCreate"
        [class.col-md-3]="entitiesData.baseData.allowCreate"
        [class.col-md-6]="!entitiesData.baseData.allowCreate"
        [class.col-sm-6]="entitiesData.baseData.allowCreate"
        [class.col-sm-12]="!entitiesData.baseData.allowCreate"
    >
        <button class="actions-button" [matMenuTriggerFor]="menu" mat-raised-button>
            {{ entitiesData.baseData.multiSelectLabel ? entitiesData.baseData.multiSelectLabel : 'Actions' }}
        </button>
    </div>
    <mat-menu #menu="matMenu">
        <button *ngFor="let action of entitiesData.baseData.multiSelectActions" [disabled]="multiActionDisabled(action)" (click)="runMultiAction(action)" mat-menu-item>
            {{ action.displayName }}
        </button>
    </mat-menu>

    <div
        *ngIf="entitiesData.baseData.allowCreate"
        [class.col-lg-2]="entitiesData.baseData.multiSelectActions?.length"
        [class.col-lg-4]="!entitiesData.baseData.multiSelectActions?.length"
        [class.col-md-3]="entitiesData.baseData.multiSelectActions?.length"
        [class.col-md-6]="!entitiesData.baseData.multiSelectActions?.length"
        [class.col-sm-6]="entitiesData.baseData.multiSelectActions?.length"
        [class.col-sm-12]="!entitiesData.baseData.multiSelectActions?.length"
    >
        <button class="create-button" (click)="createEntity()" mat-raised-button>
            {{ entitiesData.baseData.createButtonLabel ? entitiesData.baseData.createButtonLabel : 'Create' }}
        </button>
    </div>
</div>

<div class="mat-elevation-z8">
    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"> </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let module" class="module">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(module) : null" [checked]="selection.isSelected(module)"> </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container *ngFor="let dCol of entitiesData.baseData.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ dCol.displayName }}
            </mat-header-cell>
            <mat-cell class="entity" [class.enabled]="entitiesData.baseData.allowEdit?.(entity)" (click)="editEntity(entity)" *matCellDef="let entity">
                {{ dCol.value(entity) }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator *ngIf="dataSource" id="paginator" [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"> </mat-paginator>
</div>
