<div *ngIf="!entityTabs && data.displayLoadingSpinner" class="container">
    <br>
    <mat-spinner></mat-spinner>
    <br>
</div>

<div *ngIf="entityTabs" class="container">
    <br>

    <!------------>
    <!-- Header -->
    <!------------>
    <div class="header">
        <div class="save-cancel-container">
            <button type="button" [class.unsavedChanges]="hasUnsavedChanges" mat-raised-button (click)="navigateBack()" class="back-button" tabindex="-1">
                <i class="fas fa-chevron-left"></i>
                {{data.editData.cancelButtonLabel}}
                <i class="fas fa-warning" *ngIf="hasUnsavedChanges"></i>
            </button>
            <button type="button" class="save-button" (click)="edit()" mat-raised-button [disabled]="isEntityReadOnly || !isEntityValid || !isEntityDirty">
                {{data.editData.confirmButtonLabel}}
            </button>
        </div>
        <div class="actions-container">
            <button *ngIf="data.editData.actions.length" type="button" [matMenuTriggerFor]="menu" mat-raised-button>
                {{data.editData.actionsLabel}}
            </button>
            <mat-menu #menu="matMenu">
                <button type="button" *ngFor="let action of data.editData.actions" [disabled]="editActionDisabled(action)" (click)="runEditAction(action)" mat-menu-item>
                    {{action.displayName}}
                </button>
            </mat-menu>
        
            <button type="button" *ngIf="allowDelete" mat-raised-button (click)="delete()" color="warn" class="delete-button" tabindex="-1">
                {{data.editData.deleteButtonLabel}}
            </button>
        </div>
    </div>

    <h1>{{data.editData.title(entityPriorChanges)}}</h1>

    <!----------->
    <!-- Input -->
    <!----------->
    <form>
        <mat-tab-group *ngIf="entityTabs.length > 1" preserveContent>
            <mat-tab *ngFor="let tab of entityTabs" [label]="tab.tabName">
                <div class="row" *ngFor="let row of tab.rows">
                    <ngx-mat-entity-input
                        *ngFor="let key of row.keys"
                        [entity]="entity"
                        [propertyKey]="key"
                        [hideOmitForEdit]="true"
                        class="col-lg-{{EntityUtilities.getWidth(entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(entity, key, 'sm')}}"
                        (inputChangeEvent)="checkEntity()"
                        [isReadOnly]="isReadOnly(key)"
                    >
                    </ngx-mat-entity-input>
                </div>
            </mat-tab>
        </mat-tab-group>
    
        <div *ngIf="entityTabs.length <= 1">
            <span class="no-entity-tabs" *ngIf="!entityTabs.length">
                ERROR: No Inputs. Did you correctly assign all values in the model constructor?
            </span>
            <div class="row" *ngFor="let row of entityTabs[0]?.rows">
                <ngx-mat-entity-input
                    *ngFor="let key of row.keys"
                    [entity]="entity"
                    [propertyKey]="key"
                    [hideOmitForEdit]="true"
                    class="col-lg-{{EntityUtilities.getWidth(entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(entity, key, 'sm')}}"
                    (inputChangeEvent)="checkEntity()"
                    [isReadOnly]="isReadOnly(key)"
                >
                </ngx-mat-entity-input>
            </div>
        </div>

        <button type="submit" (click)="edit()" mat-raised-button [disabled]="isEntityReadOnly || !isEntityValid || !isEntityDirty">
            {{data.editData.confirmButtonLabel}}
        </button>
    </form>

    <br>
</div>