::ng-deep {
    .hideUnderline .mat-form-field-underline {
        opacity: 0%;
    }

    .disabled {
        .mat-checkbox-ripple {
            display: none;
        }
    }

    .disabled:hover {
        cursor: default;
    }
}

mat-form-field {
    width: 100%;
}