<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <mat-checkbox
        color="primary"
        (click)="model.control.markAsTouched(); updatePropertyValue(); emitChange();"
        [disabled]="isReadOnly"
        [class.disabled]="isReadOnly"
        [class.mat-checkbox-disabled]="false"
        [checked]="propertyValue"
    >
    </mat-checkbox>
    <!-- hidden input is needed so that the checkbox can be used inside a mat-form-field -->
    <input matInput hidden
        [(ngModel)]="propertyValue"
        [name]="key.toString() + uuid"
        #model="ngModel"
        [pattern]="metadata.required(entity) ? 'true' : '[\\s\\S]*'"
        [required]="metadata.required(entity)"
        [disabled]="isReadOnly"
    >
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>