<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <input
        matInput
        [(ngModel)]="propertyValue"
        [name]="key.toString() + uuid"
        #model="ngModel"
        [matAutocomplete]="auto"
        (keyup)="filterAutocompleteStrings(propertyValue)"
        [required]="metadata.required(entity)"
        [minlength]="metadata.minLength ?? null"
        [maxlength]="metadata.maxLength ?? null"
        [pattern]="metadata.regex ?? '[\\s\\S]*'"
        (ngModelChange)="emitChange()"
        [disabled]="isReadOnly"
    >
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let value of filteredAutocompleteStrings" [value]="value">
            {{value}}
        </mat-option>
    </mat-autocomplete>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>