<!-- eslint-disable angular/no-call-expression -->
<mat-form-field *ngIf="autocompleteStrings.length">
    <mat-label>{{metadata.displayName}}</mat-label>
    <input
        #model="ngModel"
        matInput
        [name]="name"
        [matAutocomplete]="auto"
        [required]="metadata.required(entity)"
        [minlength]="metadata.minLength ?? null"
        [maxlength]="metadata.maxLength ?? null"
        [pattern]="metadata.regex ?? '[\\s\\S]*'"
        [disabled]="isReadOnly"
        [includedIn]="metadata.restrictToOptions ? autocompleteStrings : undefined"
        [(ngModel)]="propertyValue"
        (keyup)="filterAutocompleteStrings(propertyValue)"
        (ngModelChange)="emitChange()"
    >
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let value of filteredAutocompleteStrings" [value]="value">
            {{value}}
        </mat-option>
    </mat-autocomplete>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>