span>h1,
.title-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.image-link {
    display: flex;
    align-items: center;
    padding: 0;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.image-link:hover {
    cursor: pointer;
    background-color: transparent;
}

.title-link:hover {
    cursor: pointer;
    background-color: transparent;
}

.sidenavElement {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.sidenavElementButton {
    display: inline-block;
    width: 100%;
}