 <!-- eslint-disable angular/no-call-expression -->
@if (entityTabs.length > 1) {
    <mat-tab-group preserveContent (selectedTabChange)="selectedTabChange.emit()">
        @for (tab of entityTabs; track $index) {
            <mat-tab [label]="tab.tabName">
                @for (row of tab.rows; track $index) {
                    <div class="grid grid-cols-12" style="column-gap: 24px;">
                        @for (key of row.keys; track key) {
                            <ngx-mat-entity-input
                                [entity]="entity"
                                [propertyKey]="key"
                                [hideOmitForEdit]="hideOmitForEdit"
                                [hideOmitForCreate]="hideOmitForCreate"
                                [class]="EntityUtilities.getWidthClasses(entity, key)"
                                [isReadOnly]="isReadOnly(key)"
                                (inputChangeEvent)="inputChange()"
                            >
                            </ngx-mat-entity-input>
                        }
                    </div>
                }
            </mat-tab>
        }
    </mat-tab-group>
}
@else {
    @if (!entityTabs.length) {
        <span class="no-entity-tabs">
            ERROR: No Inputs. Did you correctly assign all values in the model constructor?
        </span>
    }
    @else {
        @for (row of entityTabs[0].rows; track $index) {
            <div class="grid grid-cols-12" style="column-gap: 24px;">
                @for (key of row.keys; track key) {
                    <ngx-mat-entity-input
                        [entity]="entity"
                        [propertyKey]="key"
                        [hideOmitForEdit]="hideOmitForEdit"
                        [hideOmitForCreate]="hideOmitForCreate"
                        [class]="EntityUtilities.getWidthClasses(entity, key)"
                        [isReadOnly]="isReadOnly(key)"
                        (inputChangeEvent)="inputChange()"
                    >
                    </ngx-mat-entity-input>
                }
            </div>
        }
    }
}