.mat-dialog-title {
    padding-top: 12px;
    display: flex;
    button {
        display: block;
        margin-left: auto;
    }
}

mat-dialog-actions {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}