<h2 mat-dialog-title>
    {{data.editDialogData.title(data.entity)}}
    <button *ngIf="data.allowDelete(data.entity)" mat-raised-button (click)="delete()" color="warn" class="delete-button" tabindex="-1">
        {{data.editDialogData.deleteButtonLabel}}
    </button>
</h2>

<mat-dialog-content>
    <form #form="ngForm" class="row">
        <div class="row" *ngFor="let row of entityRows">
            <ngx-mat-entity-input
                *ngFor="let key of row.keys"
                [entity]="data.entity"
                [propertyKey]="key"
                [hideOmitForEdit]="true"
                class="col-lg-{{getWidth(data.entity, key, 'lg')}} col-md-{{getWidth(data.entity, key, 'md')}} col-sm-{{getWidth(data.entity, key, 'sm')}}"
            >
            </ngx-mat-entity-input>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="edit()" [disabled]="!EntityUtilities.isEntityValid(data.entity, 'update') || !EntityUtilities.dirty(data.entity, entityPriorChanges)">
        {{data.editDialogData.confirmButtonLabel}}
    </button>
    <button mat-raised-button (click)="cancel()" class="cancel-button">
        {{data.editDialogData.cancelButtonLabel}}
    </button>
</mat-dialog-actions>
