::ng-deep {
    .badge-changes {
        .mat-badge-content {
            background-color: orange;
            color: white;
        }
    }
}

.actions-container {
    display: flex;
    gap: 10px;
}