<div class="mat-dialog-title">
    <div>{{data.editData.title(data.entity)}}</div>
    <button type="button" *ngIf="data.allowDelete(data.entity)" mat-raised-button (click)="delete()" color="warn" class="delete-button" tabindex="-1">
        {{data.editData.deleteButtonLabel}}
    </button>
</div>

<form>
    <mat-dialog-content>
        <mat-tab-group *ngIf="entityTabs.length > 1" preserveContent>
            <mat-tab *ngFor="let tab of entityTabs" [label]="tab.tabName">
                <div class="row" *ngFor="let row of tab.rows">
                    <ngx-mat-entity-input
                        *ngFor="let key of row.keys"
                        [entity]="data.entity"
                        [propertyKey]="key"
                        [hideOmitForEdit]="true"
                        class="col-lg-{{EntityUtilities.getWidth(data.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(data.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(data.entity, key, 'sm')}}"
                        (inputChangeEvent)="checkEntity()"
                        [isReadOnly]="isReadOnly"
                    >
                    </ngx-mat-entity-input>
                </div>
            </mat-tab>
        </mat-tab-group>
    
        <div *ngIf="entityTabs.length <= 1">
            <div class="row" *ngFor="let row of entityTabs[0].rows">
                <ngx-mat-entity-input
                    *ngFor="let key of row.keys"
                    [entity]="data.entity"
                    [propertyKey]="key"
                    [hideOmitForEdit]="true"
                    class="col-lg-{{EntityUtilities.getWidth(data.entity, key, 'lg')}} col-md-{{EntityUtilities.getWidth(data.entity, key, 'md')}} col-sm-{{EntityUtilities.getWidth(data.entity, key, 'sm')}}"
                    (inputChangeEvent)="checkEntity()"
                    [isReadOnly]="isReadOnly"
                >
                </ngx-mat-entity-input>
            </div>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button type="submit" (click)="edit()" mat-raised-button [disabled]="isReadOnly || !isEntityValid || !isEntityDirty">
            {{data.editData.confirmButtonLabel}}
        </button>
        <button type="button" mat-raised-button (click)="cancel()" class="cancel-button">
            {{data.editData.cancelButtonLabel}}
        </button>
    </mat-dialog-actions>
</form>
