<mat-form-field>
    <mat-label>{{metadata.displayName}}</mat-label>
    <textarea
        matInput
        [(ngModel)]="propertyValue"
        [name]="key.toString() + uuid"
        #model="ngModel"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        [required]="metadata.required(entity)"
        [minlength]="metadata.minLength ?? null"
        [maxlength]="metadata.maxLength ?? null"
        (ngModelChange)="emitChange()"
        [disabled]="isReadOnly"
    >
    </textarea>
    <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
</mat-form-field>