<!-- eslint-disable angular/no-call-expression -->
<div class="mat-elevation-z8 elevation-container">
    <div class="array-headline">
        <b>{{metadata.displayName}}</b>
    </div>
    <div *ngIf="!isReadOnly">
        <mat-form-field appearance="outline">
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                #model="ngModel"
                matInput
                [name]="name"
                [matDatepicker]="picker"
                [required]="metadata.required(entity)"
                [min]="metadata.min ? metadata.min(input) : undefined"
                [max]="metadata.max ? metadata.max(input) : undefined"
                [matDatepickerFilter]="metadata.filter ?? DateUtilities.defaultDateFilter"
                [(ngModel)]="input"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
        
        <div class="buttons">
            <button type="button" mat-raised-button
                [disabled]="model.errors"
                (click)="add()">
                {{metadata.addButtonLabel}}
            </button>
            <button type="button" mat-raised-button
                [disabled]="!selection.selected.length"
                (click)="remove()">
                {{metadata.removeButtonLabel}}
            </button>
        </div>
    </div>

    <mat-table [dataSource]="dataSource">
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox [disabled]="!dataSource.data.length" [checked]="selection.hasValue() && SelectionUtilities.isAllSelected(selection, dataSource)" [indeterminate]="selection.hasValue() && !SelectionUtilities.isAllSelected(selection, dataSource)" (change)="$event ? SelectionUtilities.masterToggle(selection, dataSource) : null"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let entity">
                <mat-checkbox [checked]="selection.isSelected(entity)" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(entity) : null"></mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <ng-container *ngFor="let dCol of metadata.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef>
                {{dCol.displayName}}
            </mat-header-cell>
            <mat-cell *matCellDef="let entity" class="entity">
                {{getDisplayColumnValue(entity, dCol)}}
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div *ngIf="metadata.required(entity) && !dataSource.data.length" class="array-error">
        {{metadata.missingErrorMessage}}
    </div>
</div>