<div class="mat-elevation-z8 elevation-container">
    <div class="array-headline">
        <b>{{metadata.displayName}}</b>
    </div>
    <div *ngIf="!isReadOnly">
        <mat-form-field appearance="outline">
            <mat-label>{{metadata.displayName}}</mat-label>
            <input
                matInput
                [(ngModel)]="input"
                [name]="key.toString()"
                #model="ngModel"
                [matDatepicker]="picker"
                [required]="metadata.required"
                [min]="metadata.min ? metadata.min(input) : undefined"
                [max]="metadata.max ? metadata.max(input) : undefined"
                [matDatepickerFilter]="metadata.filter ?? DateUtilities.defaultDateFilter"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{getValidationErrorMessage(model)}}</mat-error>
        </mat-form-field>
        
        <div class="buttons">
            <button type="button" mat-raised-button
                [disabled]="model.errors"
                (click)="add()">
                {{metadata.addButtonLabel}}
            </button>
            <button type="button" mat-raised-button
                [disabled]="!selection.selected.length"
                (click)="remove()">
                {{metadata.removeButtonLabel}}
            </button>
        </div>
    </div>

    <mat-table [dataSource]="dataSource">
        <!-- select Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox [disabled]="!dataSource.data.length" (change)="$event ? SelectionUtilities.masterToggle(selection, dataSource) : null" [checked]="selection.hasValue() && SelectionUtilities.isAllSelected(selection, dataSource)" [indeterminate]="selection.hasValue() && !SelectionUtilities.isAllSelected(selection, dataSource)"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let module">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(module) : null" [checked]="selection.isSelected(module)"></mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <ng-container *ngFor="let dCol of metadata.displayColumns" [matColumnDef]="dCol.displayName">
            <mat-header-cell *matHeaderCellDef>
                {{dCol.displayName}}
            </mat-header-cell>
            <mat-cell class="entity" *matCellDef="let entity">
                {{dCol.value(entity)}}
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="array-error" *ngIf="metadata.required && !dataSource.data.length">
        {{metadata.missingErrorMessage}}
    </div>
</div>